services/nodes/node-red-docraid/testflow.json
[{"id":"b4f7fd31.0788a","type":"tab","label":"Testflow","disabled":false,"info":""},{"id":"e680fb6f.89dd28","type":"input","z":"b4f7fd31.0788a","name":"","clientUrl":"https://webdav-inter-iot.docraid.com","username":"C5B460BCABABBCDB5008C07C74000561CEA696B41308C4B06D2BEC2C29589F18257D1BFB6636FDF628483F3EB16D32DC80AB3F821FFE923800941DE786ED8CD6@64AB41179F97402525DF664F184C63076256D28A355F8A4E27C344568A9478AD","password":"testtest","filename":"final_test_datei.txt","x":450,"y":440,"wires":[["1eee750e.3e34fb"]]},{"id":"1eee750e.3e34fb","type":"debug","z":"b4f7fd31.0788a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":440,"wires":[]},{"id":"dbc6e5be.396198","type":"inject","z":"b4f7fd31.0788a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":440,"wires":[["e680fb6f.89dd28"]]},{"id":"ec94b3d5.e6fb6","type":"catch","z":"b4f7fd31.0788a","name":"","scope":null,"x":220,"y":60,"wires":[["818f0e1f.0da1d"]]},{"id":"818f0e1f.0da1d","type":"debug","z":"b4f7fd31.0788a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":60,"wires":[]},{"id":"315cbd5e.8f50b2","type":"output","z":"b4f7fd31.0788a","name":"DR Sebastian Output","clientUrl":"https://webdav-inter-iot.docraid.com","username":"C5B460BCABABBCDB5008C07C74000561CEA696B41308C4B06D2BEC2C29589F18257D1BFB6636FDF628483F3EB16D32DC80AB3F821FFE923800941DE786ED8CD6@64AB41179F97402525DF664F184C63076256D28A355F8A4E27C344568A9478AD","password":"test","filename":"test_datei.txt","x":1600,"y":600,"wires":[]},{"id":"cd1b939f.224dc","type":"inject","z":"b4f7fd31.0788a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":600,"wires":[["5609af91.8fa6c"]]},{"id":"5609af91.8fa6c","type":"change","z":"b4f7fd31.0788a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Inhalt der Testdatei. Der Inhalt wurde in Node-red geschrieben.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":600,"wires":[["315cbd5e.8f50b2"]]},{"id":"b335da5.c4b0328","type":"input","z":"b4f7fd31.0788a","name":"","clientUrl":"https://webdav-inter-iot.docraid.com","username":"C5B460BCABABBCDB5008C07C74000561CEA696B41308C4B06D2BEC2C29589F18257D1BFB6636FDF628483F3EB16D32DC80AB3F821FFE923800941DE786ED8CD6@64AB41179F97402525DF664F184C63076256D28A355F8A4E27C344568A9478AD","password":"test","filename":"nicht_vorhandene_datei.txt","x":450,"y":600,"wires":[["ac50addf.c329f"]]},{"id":"ac50addf.c329f","type":"debug","z":"b4f7fd31.0788a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":600,"wires":[]},{"id":"27d1e102.2c6e9e","type":"inject","z":"b4f7fd31.0788a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":600,"wires":[["b335da5.c4b0328"]]},{"id":"4d93a24e.5e0c4c","type":"comment","z":"b4f7fd31.0788a","name":"Test: wrong login data","info":"We expect an error.","x":260,"y":380,"wires":[]},{"id":"5bd98e54.912ce","type":"comment","z":"b4f7fd31.0788a","name":"Test: writing data","info":"","x":1080,"y":540,"wires":[]},{"id":"b2b8dc20.a64ec","type":"comment","z":"b4f7fd31.0788a","name":"Test: access to non-existing data","info":"We expect an error.","x":290,"y":540,"wires":[]},{"id":"f6f0c18f.c129b","type":"comment","z":"b4f7fd31.0788a","name":"Test Input Node","info":"","x":240,"y":140,"wires":[]},{"id":"95ef555e.184828","type":"comment","z":"b4f7fd31.0788a","name":"Test Output Node","info":"","x":1090,"y":140,"wires":[]},{"id":"59119d97.999c24","type":"input","z":"b4f7fd31.0788a","name":"","clientUrl":"https://webdav-inter-iot.docraid.com","username":"C5B460BCABABBCDB5008C07C74000561CEA696B41308C4B06D2BEC2C29589F18257D1BFB6636FDF628483F3EB16D32DC80AB3F821FFE923800941DE786ED8CD6@64AB41179F97402525DF664F184C63076256D28A355F8A4E27C344568A9478AD","password":"test","filename":"test_datei.txt","x":450,"y":760,"wires":[["ab393f8a.f7bcd"]]},{"id":"ab393f8a.f7bcd","type":"debug","z":"b4f7fd31.0788a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":760,"wires":[]},{"id":"7de04ae1.6a1874","type":"inject","z":"b4f7fd31.0788a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":760,"wires":[["59119d97.999c24"]]},{"id":"f4fcffca.b54c8","type":"comment","z":"b4f7fd31.0788a","name":"Test: access to existing data","info":"If the expecting data is not available, please use the test for writing a data beforehand.","x":280,"y":700,"wires":[]},{"id":"c555e94f.9bc2d8","type":"comment","z":"b4f7fd31.0788a","name":"Test: wrong login data","info":"We expect an error.","x":1100,"y":380,"wires":[]},{"id":"1743a788.2470b8","type":"output","z":"b4f7fd31.0788a","name":"DR Sebastian Output","clientUrl":"https://webdav-inter-iot.docraid.com","username":"C5B460BCABABBCDB5008C07C74000561CEA696B41308C4B06D2BEC2C29589F18257D1BFB6636FDF628483F3EB16D32DC80AB3F821FFE923800941DE786ED8CD6@64AB41179F97402525DF664F184C63076256D28A355F8A4E27C344568A9478AD","password":"testtest","filename":"asdahadfhads gerhg.txt","x":1600,"y":440,"wires":[]},{"id":"2041292.f94ded6","type":"inject","z":"b4f7fd31.0788a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":440,"wires":[["fba24dd4.b2741"]]},{"id":"fba24dd4.b2741","type":"change","z":"b4f7fd31.0788a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Inhalt der Testdatei. Der Inhalt wurde in Node-red geschrieben.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":440,"wires":[["1743a788.2470b8"]]},{"id":"e337c18a.914ab","type":"input","z":"b4f7fd31.0788a","name":"","clientUrl":"","username":"","password":"","filename":"","x":450,"y":280,"wires":[["e89a36ec.4d1fc8"]]},{"id":"e89a36ec.4d1fc8","type":"debug","z":"b4f7fd31.0788a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":280,"wires":[]},{"id":"5e0039ab.e10188","type":"inject","z":"b4f7fd31.0788a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":280,"wires":[["e337c18a.914ab"]]},{"id":"dfba0720.49d708","type":"comment","z":"b4f7fd31.0788a","name":"Test: no configuration","info":"We excpect an error. ","x":260,"y":220,"wires":[]},{"id":"a79a48b7.adc268","type":"comment","z":"b4f7fd31.0788a","name":"test: no configuration","info":"We expect an error.","x":1100,"y":220,"wires":[]},{"id":"96076cf5.9b615","type":"output","z":"b4f7fd31.0788a","name":"DR Sebastian Output","clientUrl":"","username":"","password":"","filename":"","x":1600,"y":280,"wires":[]},{"id":"c42a722f.a2cd4","type":"inject","z":"b4f7fd31.0788a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":280,"wires":[["ccd100bf.16aa6"]]},{"id":"ccd100bf.16aa6","type":"change","z":"b4f7fd31.0788a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Inhalt der Testdatei. Der Inhalt wurde in Node-red geschrieben.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":280,"wires":[["96076cf5.9b615"]]}]