nodes/fiware-orion/fiware-orion-example-flow.json
[
    {
        "id": "b4172ff9.e56948",
        "type": "inject",
        "z": "7bb2342a.22b41c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "12a88a94.b13d35"
            ]
        ]
    },
    {
        "id": "bdf8b0ca.5a7a5",
        "type": "debug",
        "z": "7bb2342a.22b41c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "aef64375.99d148",
        "type": "delete-subscription",
        "z": "7bb2342a.22b41c",
        "name": "",
        "server": "f1af36db.199c88",
        "subscriptionId": "5c5d4fd9fa4912e483d17889",
        "x": 490,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8e82a248.d7fad",
        "type": "inject",
        "z": "7bb2342a.22b41c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 540,
        "wires": [
            [
                "aef64375.99d148"
            ]
        ]
    },
    {
        "id": "12a88a94.b13d35",
        "type": "get-subscriptions",
        "z": "7bb2342a.22b41c",
        "name": "",
        "server": "3b7165e1.c2269a",
        "subscriptionId": "",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "d566380c.3e714"
            ]
        ]
    },
    {
        "id": "d566380c.3e714",
        "type": "json",
        "z": "7bb2342a.22b41c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 480,
        "wires": [
            [
                "bdf8b0ca.5a7a5"
            ]
        ]
    },
    {
        "id": "f1af36db.199c88",
        "type": "orion-server",
        "z": "",
        "host": "158.42.33.15",
        "port": "1026"
    },
    {
        "id": "3b7165e1.c2269a",
        "type": "orion-server",
        "z": "",
        "host": "158.42.33.15",
        "port": "1026"
    }
]