services/demonstrations/demo_iot_week_2017/nodered-data/flows.json
[{"id":"ad9132c3.4be76","type":"tab","label":"1. SETUP"},{"id":"f5e3859e.7c9c38","type":"tab","label":"OUTPUT CEP AND EXECUTION FLOW"},{"id":"95b8091e.1ddf38","type":"tab","label":"2.B Envio Posiciones Simulador"},{"id":"46bc7822.90f5e8","type":"tab","label":"2.C Envio Posiciones Simulador"},{"id":"10718d03.78e8d3","type":"tab","label":"TEST SEND RULES"},{"id":"a82041.aa0d7fc","type":"tab","label":"TESTSERVICES"},{"id":"4e3b28a7.ee1848","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"INTER-IOT APPLICATIONS AND SERVICES","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"affee88c.c1ab38","type":"proton-config","z":"","name":"CEP1","protocol":"http","host":"proton","port":"8080"},{"id":"9b7e81fe.4863a","type":"ui_tab","z":"","name":"Instance Start","icon":"dashboard","order":"1"},{"id":"3ddd3780.0153b8","type":"proton-config","z":"","name":"CEP1","protocol":"http","host":"proton","port":"8080"},{"id":"ec352ff1.b8bab","type":"proton-config","z":"","name":"CEP1","protocol":"http","host":"proton","port":"8080"},{"id":"9d62127a.e0517","type":"position-config","z":"","name":"Simu1","file":"/data/positions/positions.txt","uuid":"e0cc0bcf-819e-4ff1-b44b-28f8089a7d11"},{"id":"6e098b57.988d94","type":"position-config","z":"","name":"Simu2","file":"/data/positions/positionsb.txt","uuid":"25e1c2b8-12e5-4f57-8108-f5d78beb4fe7"},{"id":"cc40d096.43af","type":"fiware-sth-service","z":"","name":"Local-STH","url":"fiware-sth","port":"8666","authServerUri":"http://localhost:8000","authorizePath":"/oauth2/authorize","tokenPath":"/oauth2/token"},{"id":"7e7578c8.6c7668","type":"ui_tab","z":"","name":"Inter-IoT Applications and Services","icon":"dashboard"},{"id":"9be55b3c.514f68","type":"ui_group","z":"","name":"Map","tab":"7e7578c8.6c7668","disp":false,"width":"15"},{"id":"d90ea8a1.208888","type":"ui_group","z":"","name":"Map Buttons","tab":"7e7578c8.6c7668","disp":false,"width":"6"},{"id":"d549c036.98b0d","type":"ui_group","z":"","name":"Default","tab":"688d0832.1ae698","disp":true,"width":"6"},{"id":"688d0832.1ae698","type":"ui_tab","z":"","name":"testing","icon":"dashboard"},{"id":"b034b6ed.567e08","type":"position-config","z":"","name":"Simu3pcs","file":"/data/positions/positions3pcs.txt","uuid":"89576021-3ea2-43f2-8d1a-e31024bd595a"},{"id":"3c2209c1.2bbae6","type":"position-config","z":"","name":"SimuB3pcs","file":"/data/positions/positionsb3pcs.txt","uuid":"9b9fd537-2094-4548-bd8a-3e46635e3d8a"},{"id":"832c35d7.7a7bf8","type":"ui_group","z":"","name":"STH Historic","tab":"7e7578c8.6c7668","disp":true,"width":"6"},{"id":"234ac13d.b4a1de","type":"http in","z":"f5e3859e.7c9c38","name":"Proton In","url":"/protonIn","method":"post","swaggerDoc":"","x":129,"y":138,"wires":[["7cb13dd5.a46d04","73d19271.23a94c","8f3771d2.b51ab"]]},{"id":"7cb13dd5.a46d04","type":"debug","z":"f5e3859e.7c9c38","name":"","active":false,"console":"false","complete":"payload","x":678,"y":163,"wires":[]},{"id":"5a85e80b.1eb978","type":"http in","z":"f5e3859e.7c9c38","name":"Rule","url":"/protonInRule","method":"post","swaggerDoc":"","x":124,"y":417,"wires":[["3252721f.97c9ce","fe2aa666.4f8168","e789911a.1fa1"]]},{"id":"73d19271.23a94c","type":"http response","z":"f5e3859e.7c9c38","name":"","x":694,"y":231,"wires":[]},{"id":"3252721f.97c9ce","type":"http response","z":"f5e3859e.7c9c38","name":"","x":613.2500076293945,"y":701.0000095367432,"wires":[]},{"id":"67f2bf86.d19c","type":"comment","z":"f5e3859e.7c9c38","name":"STARTS WITH ALL THE INPUTS SENT TO THE CEP","info":"","x":282.8571472167969,"y":66.4285717010498,"wires":[]},{"id":"5df025ef.ba03dc","type":"comment","z":"f5e3859e.7c9c38","name":"ONLY INPUTS THAT FULFILL WITH THE RULE","info":"","x":235.71428680419922,"y":283.285701751709,"wires":[]},{"id":"eff7543a.62b4a8","type":"proton-post-events","z":"10718d03.78e8d3","protonConfig":"affee88c.c1ab38","contype":"text/plain","insname":"/ProtonOnWebServer","x":861,"y":238,"wires":[["94251f8b.0c5e6"]]},{"id":"eba005ce.dac0d8","type":"inject","z":"10718d03.78e8d3","name":"ACTIVATES THE RULE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148,"y":151,"wires":[["16db1796.45a4b8"]]},{"id":"e70e4177.d033e","type":"inject","z":"10718d03.78e8d3","name":"NO ACTIVA LA REGLA","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153,"y":241,"wires":[["efbfc958.aaa0a8"]]},{"id":"94251f8b.0c5e6","type":"debug","z":"10718d03.78e8d3","name":"","active":false,"console":"false","complete":"payload","x":1252.500015258789,"y":246.75000381469727,"wires":[]},{"id":"16db1796.45a4b8","type":"function","z":"10718d03.78e8d3","name":"Example less than 10 KM","func":"msg.payload={eventbody:\"Name=TrafficReport;distance=8.4445;numberplate=4451XVF;lat=39.454724755108124;lon=-0.3277847170829773;portCallNumber=1201702871;\"};\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":149,"wires":[["eff7543a.62b4a8"]]},{"id":"efbfc958.aaa0a8","type":"function","z":"10718d03.78e8d3","name":"Example of more than 10 KM","func":"msg.payload={eventbody:\"Name=TrafficReport;distance=10.4445;numberplate=4451XVF;lat=39.454724755108124;lon=-0.3277847170829773;portCallNumber=1201702791;\"};\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":237,"wires":[["eff7543a.62b4a8"]]},{"id":"590e538a.e6008c","type":"comment","z":"10718d03.78e8d3","name":"PLATE NUMBER 4451XVF","info":"","x":243.85713958740234,"y":66.5714282989502,"wires":[]},{"id":"578af18d.4cc84","type":"comment","z":"10718d03.78e8d3","name":"SEND EVENTS TO PROTON","info":"","x":819,"y":180,"wires":[]},{"id":"274a2de2.e6b392","type":"comment","z":"10718d03.78e8d3","name":"STATUS RESPONSE","info":"","x":1285.7143249511719,"y":182.14286041259766,"wires":[]},{"id":"6d052eec.7a78f","type":"comment","z":"f5e3859e.7c9c38","name":"FLOW","info":"","x":200.8571319580078,"y":339.57142639160156,"wires":[]},{"id":"7ae7d376.6b576c","type":"comment","z":"f5e3859e.7c9c38","name":"SE USA PARA LISTAR TODOS LOS EVENTOS QUE SE ENVIAN, FALTA CONECTAR CON DASHBOARDS","info":"","x":1028,"y":33,"wires":[]},{"id":"fe2aa666.4f8168","type":"pcs-portcall","z":"f5e3859e.7c9c38","portcallID":"1201700832","x":495.28570556640625,"y":462.28572368621826,"wires":[["74523640.b1ac88","bde58742.b6e728"]]},{"id":"74523640.b1ac88","type":"debug","z":"f5e3859e.7c9c38","name":"","active":false,"console":"false","complete":"true","x":1007,"y":369,"wires":[]},{"id":"501b2d2f.884d14","type":"position","z":"95b8091e.1ddf38","positionConfig":"b034b6ed.567e08","x":147.7142791748047,"y":521.4285736083984,"wires":[["4ae83535.39583c","e8ca19ff.435d48","22ebf2.b688d40e"]]},{"id":"eb6f3e6b.b187","type":"position-action","z":"95b8091e.1ddf38","positionConfig":"b034b6ed.567e08","action":"start","x":833,"y":127,"wires":[]},{"id":"7f60ba1d.a70ae4","type":"position-action","z":"95b8091e.1ddf38","positionConfig":"b034b6ed.567e08","action":"stop","x":793,"y":263,"wires":[]},{"id":"300ddd8e.4da972","type":"position-action","z":"95b8091e.1ddf38","positionConfig":"b034b6ed.567e08","action":"pause","x":758,"y":335,"wires":[]},{"id":"899e7dec.4e","type":"inject","z":"95b8091e.1ddf38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162.7142791748047,"y":212.57143783569336,"wires":[["eb6f3e6b.b187"]]},{"id":"1c2ecfe.f50ec3","type":"inject","z":"95b8091e.1ddf38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174.42857360839844,"y":284.2857189178467,"wires":[["7f60ba1d.a70ae4"]]},{"id":"67bdbac.d063244","type":"inject","z":"95b8091e.1ddf38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181.5714225769043,"y":357.1428484916687,"wires":[["300ddd8e.4da972"]]},{"id":"4ae83535.39583c","type":"function","z":"95b8091e.1ddf38","name":"TEST","func":"msg.payload.name =msg.payload.data.numberplate;\nmsg.payload.lat =msg.payload.location.lat;\nmsg.payload.lon =msg.payload.location.lon;\n\nreturn msg;","outputs":1,"noerr":0,"x":428,"y":398,"wires":[["cc4105d7.2a53d8"]]},{"id":"cc4105d7.2a53d8","type":"debug","z":"95b8091e.1ddf38","name":"","active":false,"console":"false","complete":"payload","x":728.428596496582,"y":400.2857036590576,"wires":[]},{"id":"8f3771d2.b51ab","type":"function","z":"f5e3859e.7c9c38","name":"SHOW ALL THE POSITIONS OF THE TRUCKS","func":"var info;\n\ninfo ={lat:msg.payload.lat, lon: msg.payload.lon , distance: msg.payload.distance, PortCall: msg.payload.portCallNumber};\nnametruck=msg.payload.numberplate;\nmsg.payload=info;\nmsg.payload.name=nametruck;\n//msg.payload.name=msg.payload.numberplate;\nif (msg.payload.distance <10) return {};\nmsg.payload.icon='truck';\nmsg.payload.iconColor='green';\nreturn msg;","outputs":1,"noerr":0,"x":688,"y":96,"wires":[["599880a3.5d1d7","b0d92e54.eff36"]]},{"id":"599880a3.5d1d7","type":"debug","z":"f5e3859e.7c9c38","name":"","active":false,"console":"false","complete":"payload","x":1603.285743713379,"y":339.85715103149414,"wires":[]},{"id":"b0d92e54.eff36","type":"worldmap","z":"f5e3859e.7c9c38","name":"","lat":"39.45634219","lon":"-0.432243347","zoom":"10","layer":"","cluster":"","maxage":"","usermenu":"show","panit":"false","x":1562.4287185668945,"y":89,"wires":[]},{"id":"bf8fca84.ff7058","type":"inject","z":"10718d03.78e8d3","name":"NOT ACTIVE THE RULE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":145,"y":445,"wires":[["f4aac070.8a1a"]]},{"id":"f4aac070.8a1a","type":"function","z":"10718d03.78e8d3","name":"Example of more than 10 KM","func":"msg.payload={eventbody:\"Name=TrafficReport;distance=10.4445;numberplate=4451XVF;lat=39.454724755108124;lon=-0.4277847170829773;portCallNumber=1201702791;\"};\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":438,"wires":[["eff7543a.62b4a8"]]},{"id":"806a4189.e9cf9","type":"inject","z":"10718d03.78e8d3","name":"ACTIVATES THE RULE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178,"y":639.0000095367432,"wires":[["2541336f.32745c"]]},{"id":"2541336f.32745c","type":"function","z":"10718d03.78e8d3","name":"Example less than 10 KM","func":"msg.payload={eventbody:\"Name=TrafficReport;distance=8.4445;numberplate=1789CVJ;lat=39.454724755108124;lon=-0.3277847170829773;portCallNumber=1201702791;\"};\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":633,"wires":[["eff7543a.62b4a8"]]},{"id":"d3cc6c55.ba413","type":"inject","z":"10718d03.78e8d3","name":"NOT ACTIVE THE RULE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":189.25,"y":739.7500114440918,"wires":[["1f30606.673c4a"]]},{"id":"1f30606.673c4a","type":"function","z":"10718d03.78e8d3","name":"Example of more than 10 KM","func":"msg.payload={eventbody:\"Name=TrafficReport;distance=10.4445;numberplate=1789CVJ;lat=39.454724755108124;lon=-0.4277847170829773;portCallNumber=1201702791;\"};\nreturn msg;","outputs":1,"noerr":0,"x":547,"y":739,"wires":[["eff7543a.62b4a8"]]},{"id":"c9390d2b.54694","type":"comment","z":"10718d03.78e8d3","name":"OTHER LAT AND LON","info":"","x":308,"y":357,"wires":[]},{"id":"2e7bac50.cbac24","type":"comment","z":"10718d03.78e8d3","name":"PLATE NUMBER 1789CVJ","info":"","x":301,"y":564,"wires":[]},{"id":"e8ca19ff.435d48","type":"function","z":"95b8091e.1ddf38","name":"PROTON COMPANY A SEND DATA","func":"var lat1=39.4457; //coordenadas puerto valencia\nvar lon1= -0.319878;\nvar lat2= msg.payload.location.lat;\nvar lon2= msg.payload.location.lon;\nvar R = 6371; // km\n\nvar dLat = lat2-lat1;\ndLat=dLat * Math.PI / 180;\nvar dLon = lon2-lon1;\ndLon =dLon* Math.PI / 180;\nvar lat1 = lat1;\nlat1 =lat1* Math.PI / 180;\nvar lat2 = lat2;\nlat2 =lat2 * Math.PI / 180;\n\nvar a = Math.sin(dLat/2) * Math.sin(dLat/2) +\nMath.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); \nvar c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \nvar d = R * c;\nmsg.payload.cep = {distance: \"\"}  ;   \nmsg.payload.cep.distance=d.toString();\nmsg.payload.eventbody=\"Name=TrafficReport;distance=\"+msg.payload.cep.distance+\";numberplate=\"+msg.payload.data.numberplate+\";lat=\"+msg.payload.location.lat+\";lon=\"+msg.payload.location.lon+\";portCallNumber=\"+msg.payload.data.PortCall+\";\";\nreturn msg;","outputs":1,"noerr":0,"x":535,"y":494,"wires":[["8c896e9f.0d71a","459b1a6f.719044","5ac0dcf6.e34344"]]},{"id":"8c896e9f.0d71a","type":"debug","z":"95b8091e.1ddf38","name":"","active":false,"console":"false","complete":"false","x":1086,"y":542.1428833007812,"wires":[]},{"id":"459b1a6f.719044","type":"debug","z":"95b8091e.1ddf38","name":"","active":false,"console":"false","complete":"payload.cep.distance","x":1102.5714416503906,"y":457.71428245306015,"wires":[]},{"id":"5ac0dcf6.e34344","type":"proton-post-events","z":"95b8091e.1ddf38","protonConfig":"affee88c.c1ab38","contype":"text/plain","insname":"/ProtonOnWebServer","x":885.2856597900391,"y":624.5714092254639,"wires":[["b39cc6c7.cf78e8"]]},{"id":"b39cc6c7.cf78e8","type":"debug","z":"95b8091e.1ddf38","name":"","active":false,"console":"false","complete":"payload","x":1164.357089996338,"y":628.8928642272949,"wires":[]},{"id":"ab2685c5.8e4268","type":"position","z":"46bc7822.90f5e8","positionConfig":"3c2209c1.2bbae6","x":188,"y":530,"wires":[["eeb7ad7d.764ae","dc4afd2c.02e3","f4b080e4.72e1f","1758fc9b.359053"]]},{"id":"d4910735.589b68","type":"position-action","z":"46bc7822.90f5e8","positionConfig":"3c2209c1.2bbae6","action":"start","x":745,"y":156,"wires":[]},{"id":"e54b1802.69bb38","type":"position-action","z":"46bc7822.90f5e8","positionConfig":"3c2209c1.2bbae6","action":"stop","x":745,"y":218,"wires":[]},{"id":"c28d16e4.69be38","type":"position-action","z":"46bc7822.90f5e8","positionConfig":"3c2209c1.2bbae6","action":"pause","x":738,"y":280,"wires":[]},{"id":"958d8f94.7bcab","type":"inject","z":"46bc7822.90f5e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":229,"y":107,"wires":[["d4910735.589b68"]]},{"id":"3f5ab65.5405f4a","type":"inject","z":"46bc7822.90f5e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":212,"wires":[["e54b1802.69bb38"]]},{"id":"a637a1ac.b5f9f","type":"inject","z":"46bc7822.90f5e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":182.28570938110352,"y":319.8571367263794,"wires":[["c28d16e4.69be38"]]},{"id":"eeb7ad7d.764ae","type":"function","z":"46bc7822.90f5e8","name":"TEST","func":"msg.payload.name =msg.payload.data.numberplate;\nmsg.payload.lat =msg.payload.location.lat;\nmsg.payload.lon =msg.payload.location.lon;\n\nreturn msg;","outputs":1,"noerr":0,"x":421,"y":411,"wires":[["2ced83cb.34156c"]]},{"id":"2ced83cb.34156c","type":"debug","z":"46bc7822.90f5e8","name":"","active":false,"console":"false","complete":"payload","x":710,"y":409,"wires":[]},{"id":"dc4afd2c.02e3","type":"function","z":"46bc7822.90f5e8","name":"PROTON COMPANY B SEND DATA","func":"var lat1=39.4457; //coordenadas puerto valencia\nvar lon1= -0.319878;\nvar lat2= msg.payload.location.lat;\nvar lon2= msg.payload.location.lon;\nvar R = 6371; // km\n\nvar dLat = lat2-lat1;\ndLat=dLat * Math.PI / 180;\nvar dLon = lon2-lon1;\ndLon =dLon* Math.PI / 180;\nvar lat1 = lat1;\nlat1 =lat1* Math.PI / 180;\nvar lat2 = lat2;\nlat2 =lat2 * Math.PI / 180;\n\nvar a = Math.sin(dLat/2) * Math.sin(dLat/2) +\nMath.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); \nvar c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \nvar d = R * c;\nmsg.payload.cep = {distance: \"\"}  ;   \nmsg.payload.cep.distance=d.toString();\nmsg.payload.eventbody=\"Name=TrafficReport;distance=\"+msg.payload.cep.distance+\";numberplate=\"+msg.payload.data.numberplate+\";lat=\"+msg.payload.location.lat+\";lon=\"+msg.payload.location.lon+\";portCallNumber=\"+msg.payload.data.PortCall+\";\";\nreturn msg;","outputs":1,"noerr":0,"x":518.9999847412109,"y":524.428563117981,"wires":[["9eaea790.e90cb8","152e7960.34fc77","5d000fd5.7180c"]]},{"id":"9eaea790.e90cb8","type":"debug","z":"46bc7822.90f5e8","name":"","active":false,"console":"false","complete":"false","x":860,"y":519,"wires":[]},{"id":"152e7960.34fc77","type":"debug","z":"46bc7822.90f5e8","name":"","active":false,"console":"false","complete":"payload.cep.distance","x":958.0000305175781,"y":629.7143096923828,"wires":[]},{"id":"5d000fd5.7180c","type":"proton-post-events","z":"46bc7822.90f5e8","protonConfig":"affee88c.c1ab38","contype":"text/plain","insname":"/ProtonOnWebServer","x":840.2857360839844,"y":751.8571395874023,"wires":[["d67200e2.22c32"]]},{"id":"d67200e2.22c32","type":"debug","z":"46bc7822.90f5e8","name":"","active":false,"console":"false","complete":"payload","x":1273.2142333984375,"y":759.1785583496094,"wires":[]},{"id":"df379e4c.a4407","type":"function","z":"f5e3859e.7c9c38","name":"CHANGE COLOR AND ALERT POSITIONS","func":"//saca todo\n//const payload = JSON.parse(JSON.stringify(msg));\n//msg = {};\n//msg.payload = payload;\n//msg.payload.name=msg.payload.numberplate;\n//msg.payload.icon='truck';\n//msg.payload.iconColor='red';\n//return msg;\n\n//saca lo importante\nconst info={};\ninfo.name=msg.numberplate;\ninfo.icon='truck';\ninfo.iconColor='red';\ninfo.lat=msg.lat;\ninfo.lon=msg.lon;\ninfo.distance=msg.distance;\ninfo.PortCall=msg.portCall.PortCall;\n//info.Status=msg.portCall.Status;\n\ninfo.PCSINFO=\"Here you can find the PCS information\";\ninfo.Status=msg.portCall.Status;\ninfo.Vessel=msg.portCall.Vessel;\ninfo.VesselType=msg.portCall.VesselType;\n//info.Voyage=msg.portCall.Voyage;\n\ninfo.ETA=msg.portCall.ETA;\ninfo.ATA=msg.portCall.ATA;\n//info.ATD=msg.portCall.ATD;\n//info.NextPortOfCallName=msg.portCall.NextPortOfCallName;\ninfo.RegularLine=msg.portCall.RegularLine;\ninfo.VesselAgentName=msg.portCall.VesselAgentName;\n\ninfo.STHINFO=\"Here you can find the STH information\";\ninfo.sth0_TIME=msg.sth.contextResponses[0].contextElement.attributes[0].values[0].recvTime;\ninfo.sth0_ID=msg.sth.contextResponses[0].contextElement.attributes[0].values[0].attrValue;\n\ninfo.sth1_TIME=msg.sth.contextResponses[0].contextElement.attributes[0].values[1].recvTime;\ninfo.sth1_ID=msg.sth.contextResponses[0].contextElement.attributes[0].values[1].attrValue;\n\n//msg.payload.lat=temp.lat;\n//msg.payload.lon=temp.lon; \n//msg.payload.distance=temp.distance; \n//msg.payload.portCallNumber=temp.PortCall;\nmsg={};\nmsg.payload=info;\nreturn msg;","outputs":1,"noerr":0,"x":984.1428527832031,"y":237.99999809265137,"wires":[["b0d92e54.eff36"]]},{"id":"de1f2e5a.b4c12","type":"debug","z":"f5e3859e.7c9c38","name":"","active":false,"console":"false","complete":"true","x":1094.3571090698242,"y":468.4285659790039,"wires":[]},{"id":"bde58742.b6e728","type":"fiware-sth-raw","z":"f5e3859e.7c9c38","name":"STH","service":"cc40d096.43af","entype":"Truck","attr":"callid","iden":"numberplate","fiwareServer":"interiot","fiwarePath":"/demo","lastN":"3","period":0,"x":807.8571548461914,"y":474.14286041259766,"wires":[["df379e4c.a4407","de1f2e5a.b4c12"]]},{"id":"f9b46ce0.d690b","type":"ui_text","z":"95b8091e.1ddf38","group":"d90ea8a1.208888","order":3,"width":"6","height":"1","name":"","label":"COMPANY A","format":"{{msg.payload}}","layout":"col-center","x":135.71428680419922,"y":117.00000381469727,"wires":[]},{"id":"53a9194b.d4c838","type":"ui_text","z":"46bc7822.90f5e8","group":"d90ea8a1.208888","order":7,"width":"6","height":"1","name":"","label":"COMPANY B","format":"{{msg.payload}}","layout":"col-center","x":107.14285659790039,"y":53.99999809265137,"wires":[]},{"id":"caa50920.e9a938","type":"ui_button","z":"46bc7822.90f5e8","name":"","group":"d90ea8a1.208888","order":8,"width":"2","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":284,"y":154,"wires":[["d4910735.589b68"]]},{"id":"e2dcf606.668e88","type":"ui_button","z":"46bc7822.90f5e8","name":"","group":"d90ea8a1.208888","order":9,"width":"2","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":303,"y":270,"wires":[["e54b1802.69bb38"]]},{"id":"65f1d669.2dcca8","type":"ui_button","z":"46bc7822.90f5e8","name":"","group":"d90ea8a1.208888","order":10,"width":"2","height":"1","passthru":false,"label":"Pause","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":281.7142868041992,"y":388.71428298950195,"wires":[["c28d16e4.69be38"]]},{"id":"7c897856.e959e8","type":"ui_button","z":"95b8091e.1ddf38","name":"","group":"d90ea8a1.208888","order":4,"width":"2","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":387,"y":144,"wires":[["eb6f3e6b.b187"]]},{"id":"f7576a09.787438","type":"ui_button","z":"95b8091e.1ddf38","name":"","group":"d90ea8a1.208888","order":5,"width":"2","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":402,"y":240,"wires":[["7f60ba1d.a70ae4"]]},{"id":"902b51bd.469d6","type":"ui_button","z":"95b8091e.1ddf38","name":"","group":"d90ea8a1.208888","order":6,"width":"2","height":"1","passthru":false,"label":"Pause","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":396,"y":327,"wires":[["300ddd8e.4da972"]]},{"id":"aede6b67.3a64e8","type":"ui_toast","z":"f5e3859e.7c9c38","position":"bottom left","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1050.7142715454102,"y":598.1428527832031,"wires":[]},{"id":"e789911a.1fa1","type":"function","z":"f5e3859e.7c9c38","name":"SEND ALERT NOTIFY","func":"msg.payload=\"The Truck: \"+msg.payload.numberplate+\" is near the Port Area\"; \nreturn msg;","outputs":1,"noerr":0,"x":671.428596496582,"y":592.4285526275635,"wires":[["aede6b67.3a64e8"]]},{"id":"9e5f237d.c3557","type":"ui_template","z":"f5e3859e.7c9c38","group":"9be55b3c.514f68","name":"MAP","order":1,"width":"15","height":"8","format":"<iframe id=\"world-map\" seamless width=\"100%\" height=\"100%\"></iframe>\n<script>\n(function(scope) {\n    // debugger;\n    window.ifr = document.getElementById(\"world-map\");\n    window.ifr.src= window.location.protocol + \"//\" + window.location.host + \"/worldmap/\";\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":144.85713958740234,"y":905.0000553131104,"wires":[[]]},{"id":"f4b080e4.72e1f","type":"function","z":"46bc7822.90f5e8","name":"ORION callid","func":"var id = msg.payload.data.numberplate;\nvar callid = \"\\\"\"+msg.payload.data.PortCall+\"\\\"\";\nmsg.payload = callid;\nmsg.headers={\"Fiware-Service\":\"interiot\",\"Content-Type\":\"text/plain\",\"Fiware-ServicePath\":\"/demo\"}\nmsg.url = \"http://orion:1026/v2/entities/\"+id+\"/attrs/callid/value\";\nreturn msg;","outputs":1,"noerr":0,"x":337.8571319580078,"y":776.8571376800537,"wires":[["c97a6532.93e868"]]},{"id":"c97a6532.93e868","type":"http request","z":"46bc7822.90f5e8","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":519.0417785644531,"y":780.0133609771729,"wires":[[]]},{"id":"22ebf2.b688d40e","type":"function","z":"95b8091e.1ddf38","name":"ORION callid","func":"var id = msg.payload.data.numberplate;\nvar callid = \"\\\"\"+msg.payload.data.PortCall+\"\\\"\";\nmsg.payload = callid;\nmsg.headers={\"Fiware-Service\":\"interiot\",\"Content-Type\":\"text/plain\",\"Fiware-ServicePath\":\"/demo\"}\nmsg.url = \"http://orion:1026/v2/entities/\"+id+\"/attrs/callid/value\";\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":814,"wires":[["fc1453b8.eb31d"]]},{"id":"fc1453b8.eb31d","type":"http request","z":"95b8091e.1ddf38","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":758.89892578125,"y":817.1562099456787,"wires":[[]]},{"id":"571df879.4fc318","type":"counter","z":"ad9132c3.4be76","name":"","init":"0","step":"1","lower":null,"upper":"4","mode":"increment","outputs":"1","x":558,"y":437,"wires":[["88cbab38.d621d8"]]},{"id":"7ca9589e.ef2e58","type":"inject","z":"ad9132c3.4be76","name":"FEED PORTCALLS","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148,"y":317,"wires":[["69637d8.3808a84"]]},{"id":"dfa38b5d.962c68","type":"function","z":"ad9132c3.4be76","name":"Truck: 4451XVF","func":"msg.truck = \"4451XVF\";\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":437,"wires":[["571df879.4fc318"]]},{"id":"e7e834c1.60fbf8","type":"debug","z":"ad9132c3.4be76","name":"","active":true,"console":"false","complete":"true","x":1128,"y":497,"wires":[]},{"id":"783d5628.e36ed8","type":"http request","z":"ad9132c3.4be76","name":"","method":"use","ret":"txt","url":"","tls":"","x":788,"y":497,"wires":[["6dfd0bfb.110934"]]},{"id":"88cbab38.d621d8","type":"function","z":"ad9132c3.4be76","name":"orion: update portcall","func":"msg.url = \"http://orion:1026/v2/entities/\"+msg.truck+\"/attrs/callid/value\";\nmsg.method = \"PUT\";\nmsg.payload = \"\\\"\"+msg.portcalls[msg.count]+\"\\\"\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\",\n    \"Fiware-Service\": \"interiot\",\n    \"Fiware-ServicePath\": \"/demo\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":758,"y":437,"wires":[["783d5628.e36ed8"]]},{"id":"9067f077.169a2","type":"delay","z":"ad9132c3.4be76","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":878,"y":317,"wires":[["571df879.4fc318"]]},{"id":"67b42a04.1d74c4","type":"function","z":"ad9132c3.4be76","name":"Clean","func":"return {\n    truck: msg.truck,\n    portcalls: msg.portcalls\n};","outputs":1,"noerr":0,"x":968,"y":417,"wires":[["9067f077.169a2"]]},{"id":"ed432aa.4473ed8","type":"function","z":"ad9132c3.4be76","name":"Portcall Data","func":"msg.portcalls = [\n    \"1201702791\",\n    \"1201702918\",\n    \"1201702894\",\n    \"1201702538\",\n    \"1201702871\"\n];\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":377,"wires":[["dfa38b5d.962c68"]]},{"id":"69637d8.3808a84","type":"function","z":"ad9132c3.4be76","name":"RESET","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":317,"wires":[["ed432aa.4473ed8"]]},{"id":"6dfd0bfb.110934","type":"function","z":"ad9132c3.4be76","name":"Ended?","func":"var msg1 = (msg.count + 1) < msg.portcalls.length ? msg : null;\nvar msg2 = (msg.count + 1) === msg.portcalls.length ? {payload: \"done\"} : {payload: (msg.count + 1)+\"/\"+msg.portcalls.length};\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":978,"y":497,"wires":[["67b42a04.1d74c4"],["e7e834c1.60fbf8"]]},{"id":"6e34f0e1.08d94","type":"inject","z":"ad9132c3.4be76","name":"ORION SETUP","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":143,"y":104,"wires":[["710a7846.a38388"]]},{"id":"3a7a44d7.cf35dc","type":"function","z":"ad9132c3.4be76","name":"orion: create truck","func":"msg.url = \"http://orion:1026/v2/entities\";\nmsg.method = \"POST\";\nmsg.payload = {\n  \"id\": msg.truck,\n  \"type\": \"Truck\",\n  \"dangerous\": {\n    \"value\": false,\n    \"type\": \"boolean\"\n  },\n  \"category\": {\n    \"value\": \"car_carrier\",\n    \"type\": \"string\"\n  },\n  \"weight\": {\n    \"value\": 237.04,\n    \"type\": \"float\"\n  },\n  \"callid\": {\n    \"value\": \"1201702791\",\n    \"type\": \"string\"\n  }\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Fiware-Service\": \"interiot\",\n    \"Fiware-ServicePath\": \"/demo\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":548,"y":97,"wires":[["9527e5c7.d81f08"]]},{"id":"710a7846.a38388","type":"function","z":"ad9132c3.4be76","name":"Truck: 4451XVF","func":"return {truck: \"4451XVF\"};","outputs":1,"noerr":0,"x":338,"y":97,"wires":[["3a7a44d7.cf35dc"]]},{"id":"9527e5c7.d81f08","type":"http request","z":"ad9132c3.4be76","name":"","method":"use","ret":"txt","url":"","tls":"","x":748,"y":97,"wires":[["952eabd2.3e7dc8"]]},{"id":"952eabd2.3e7dc8","type":"delay","z":"ad9132c3.4be76","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":918,"y":97,"wires":[["b280d724.b9baa8","ac3b3cc6.ecada"]]},{"id":"b15cdfb0.9c07a","type":"function","z":"ad9132c3.4be76","name":"orion: create truck","func":"msg.url = \"http://orion:1026/v2/entities\";\nmsg.method = \"POST\";\nmsg.payload = {\n  \"id\": msg.truck,\n  \"type\": \"Truck\",\n  \"dangerous\": {\n    \"value\": false,\n    \"type\": \"boolean\"\n  },\n  \"category\": {\n    \"value\": \"car_carrier\",\n    \"type\": \"string\"\n  },\n  \"weight\": {\n    \"value\": 237.04,\n    \"type\": \"float\"\n  },\n  \"callid\": {\n    \"value\": \"1201702791\",\n    \"type\": \"string\"\n  }\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Fiware-Service\": \"interiot\",\n    \"Fiware-ServicePath\": \"/demo\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":548,"y":157,"wires":[["2da3e24d.55126e"]]},{"id":"2da3e24d.55126e","type":"http request","z":"ad9132c3.4be76","name":"","method":"use","ret":"txt","url":"","tls":"","x":748,"y":157,"wires":[["92aee891.b617c8"]]},{"id":"92aee891.b617c8","type":"delay","z":"ad9132c3.4be76","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":918,"y":157,"wires":[["59ce5ac5.b23a74","5a30f64b.7d7f38"]]},{"id":"b280d724.b9baa8","type":"function","z":"ad9132c3.4be76","name":"Truck: 1789CVJ","func":"return {truck: \"1789CVJ\"};","outputs":1,"noerr":0,"x":338,"y":157,"wires":[["b15cdfb0.9c07a"]]},{"id":"59ce5ac5.b23a74","type":"function","z":"ad9132c3.4be76","name":"Clean","func":"return {};","outputs":1,"noerr":0,"x":368,"y":217,"wires":[["f67dc755.6cd6f8"]]},{"id":"f67dc755.6cd6f8","type":"function","z":"ad9132c3.4be76","name":"orion: sth subscribe","func":"msg.url = \"http://orion:1026/v2/subscriptions\";\nmsg.method = \"POST\";\nmsg.payload = {\n  \"description\": \"Notificaciones para STH de trucks en demo local callid\",\n  \"subject\": {\n    \"entities\": [\n      {\n      \t\"idPattern\":\".*\",\n        \"type\":\"Truck\"\n      }\n    ],\n    \"condition\": {\n        \"attrs\": [\n          \"callid\"\n        ]\n      }\n  },\n  \"notification\": {\n    \"http\": {\n      \"url\": \"http://fiware-sth:8666/notify\"\n    },\n    \"attrsFormat\": \"legacy\",\n    \"attrs\": [\n      \"callid\"\n    ]\n  }\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\",\n    \"Fiware-Service\": \"interiot\",\n    \"Fiware-ServicePath\": \"/demo\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":217,"wires":[["cb28289c.e93768"]]},{"id":"cb28289c.e93768","type":"http request","z":"ad9132c3.4be76","name":"","method":"use","ret":"txt","url":"","tls":"","x":748,"y":217,"wires":[["c7904c28.d215f"]]},{"id":"c7904c28.d215f","type":"delay","z":"ad9132c3.4be76","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":918,"y":217,"wires":[["9f288007.93e22"]]},{"id":"ac3b3cc6.ecada","type":"debug","z":"ad9132c3.4be76","name":"","active":true,"console":"false","complete":"payload","x":1128,"y":97,"wires":[]},{"id":"5a30f64b.7d7f38","type":"debug","z":"ad9132c3.4be76","name":"","active":true,"console":"false","complete":"false","x":1128,"y":157,"wires":[]},{"id":"9f288007.93e22","type":"debug","z":"ad9132c3.4be76","name":"","active":true,"console":"false","complete":"payload","x":1128,"y":217,"wires":[]},{"id":"c31fde70.802bc","type":"counter","z":"ad9132c3.4be76","name":"","init":"0","step":"1","lower":null,"upper":"4","mode":"increment","outputs":"1","x":558,"y":697,"wires":[["7297fe43.a19ce"]]},{"id":"eb43c8c8.8c5e48","type":"inject","z":"ad9132c3.4be76","name":"FEED PORTCALLS","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148,"y":577,"wires":[["cec4fd59.506e3"]]},{"id":"969e015a.6014","type":"function","z":"ad9132c3.4be76","name":"Truck: 1789CVJ","func":"msg.truck = \"1789CVJ\";\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":697,"wires":[["c31fde70.802bc"]]},{"id":"149730ec.179dcf","type":"debug","z":"ad9132c3.4be76","name":"","active":true,"console":"false","complete":"true","x":1128,"y":757,"wires":[]},{"id":"4ddade92.8cd09","type":"http request","z":"ad9132c3.4be76","name":"","method":"use","ret":"txt","url":"","tls":"","x":788,"y":757,"wires":[["f4a073c3.cebc8"]]},{"id":"7297fe43.a19ce","type":"function","z":"ad9132c3.4be76","name":"orion: update portcall","func":"msg.url = \"http://orion:1026/v2/entities/\"+msg.truck+\"/attrs/callid/value\";\nmsg.method = \"PUT\";\nmsg.payload = \"\\\"\"+msg.portcalls[msg.count]+\"\\\"\";\nmsg.headers = {\n    \"Content-Type\": \"text/plain\",\n    \"Fiware-Service\": \"interiot\",\n    \"Fiware-ServicePath\": \"/demo\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":758,"y":697,"wires":[["4ddade92.8cd09"]]},{"id":"a67bdcf6.d43ec","type":"delay","z":"ad9132c3.4be76","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":878,"y":577,"wires":[["c31fde70.802bc"]]},{"id":"d2ae8f41.48eb3","type":"function","z":"ad9132c3.4be76","name":"Clean","func":"return {\n    truck: msg.truck,\n    portcalls: msg.portcalls\n};","outputs":1,"noerr":0,"x":968,"y":677,"wires":[["a67bdcf6.d43ec"]]},{"id":"3cf672a9.50bf3e","type":"function","z":"ad9132c3.4be76","name":"Portcall Data","func":"msg.portcalls = [\n    \"1201702791\",\n    \"1201702918\",\n    \"1201702894\",\n    \"1201702538\",\n    \"1201702871\"\n];\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":637,"wires":[["969e015a.6014"]]},{"id":"cec4fd59.506e3","type":"function","z":"ad9132c3.4be76","name":"RESET","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":577,"wires":[["3cf672a9.50bf3e"]]},{"id":"f4a073c3.cebc8","type":"function","z":"ad9132c3.4be76","name":"Ended?","func":"var msg1 = (msg.count + 1) < msg.portcalls.length ? msg : null;\nvar msg2 = (msg.count + 1) === msg.portcalls.length ? {payload: \"done\"} : {payload: (msg.count + 1)+\"/\"+msg.portcalls.length};\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":978,"y":757,"wires":[["d2ae8f41.48eb3"],["149730ec.179dcf"]]},{"id":"1758fc9b.359053","type":"function","z":"46bc7822.90f5e8","name":"ORION Coords","func":"var id = msg.payload.data.numberplate;\nvar coords = \"\\\"\"+msg.payload.location.lat + \", \"+msg.payload.location.lon+\"\\\"\";\nmsg.payload = coords;\nmsg.headers={\"Fiware-Service\":\"interiot\",\"Content-Type\":\"text/plain\",\"Fiware-ServicePath\":\"/demo\"}\nmsg.url = \"http://orion:1026/v2/entities/\"+id+\"/attrs/coords/value\";\nreturn msg;","outputs":1,"noerr":0,"x":386.8571472167969,"y":690.1428442001343,"wires":[["94e9943c.d655c8"]]},{"id":"94e9943c.d655c8","type":"http request","z":"46bc7822.90f5e8","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":573.0418090820312,"y":686.7275953292847,"wires":[[]]},{"id":"13e8b51d.d0aa7b","type":"worldmap in","z":"f5e3859e.7c9c38","name":"","x":133.75000762939453,"y":1075.5714282989502,"wires":[["d81f39e.3ecb6c8","a353fdb3.8c2f"]]},{"id":"8b943ac7.b8f018","type":"function","z":"f5e3859e.7c9c38","name":"","func":"var distance=msg.payload.content.distance;\n\nvar numberplate = msg.payload.content.name;\n\nmsg.payload={\n    mec: \"asd\"\n}\nmsg.entityID=numberplate;\nmsg.distance=distance;\nreturn msg;","outputs":1,"noerr":0,"x":722.5000114440918,"y":1078.2500133514404,"wires":[["86c60a94.179468"]]},{"id":"86c60a94.179468","type":"fiware-sth-raw","z":"f5e3859e.7c9c38","name":"STH","service":"cc40d096.43af","entype":"Truck","attr":"callid","iden":"entityID","fiwareServer":"interiot","fiwarePath":"/demo","lastN":"10","period":0,"x":975.7500152587891,"y":1067.5000133514404,"wires":[["812b1571.e092a8","e4357d71.19d43"]]},{"id":"812b1571.e092a8","type":"function","z":"f5e3859e.7c9c38","name":"STH - Beauty","func":"if (msg.distance < 10.0) {\nmsg.sth = msg.sth.contextResponses[0].contextElement.attributes[0].values;\n}\nelse {\n    \n    msg.sth=\"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1199.5000190734863,"y":980.7500133514404,"wires":[["778618e8.181728"]]},{"id":"778618e8.181728","type":"ui_template","z":"f5e3859e.7c9c38","group":"9be55b3c.514f68","name":"","order":3,"width":"7","height":"6","format":"<h3>The last {{msg.sth.length}} CallId: </h3>\n<table class=\"table\">\n\n    <thead>\n\n        <tr>\n\n            <th>Date</th>\n\n            <th>CallID</th>\n\n        </tr>\n\n    </thead>\n\n    <tbody>\n\n        <tr ng-repeat=\"item in msg.sth\">\n\n            <td>{{item.recvTime | date:'medium'}}     </td>\n\n            <td>{{item.attrValue}}</td>\n\n        </tr>\n\n    </tbody>\n\n</table>","storeOutMessages":true,"fwdInMessages":true,"x":1456.2500228881836,"y":992.2500123977661,"wires":[[]]},{"id":"d81f39e.3ecb6c8","type":"debug","z":"f5e3859e.7c9c38","name":"","active":true,"console":"false","complete":"payload","x":740.0000076293945,"y":1413.750018119812,"wires":[]},{"id":"c9d207a5.ba5c48","type":"ui_template","z":"f5e3859e.7c9c38","group":"9be55b3c.514f68","name":"","order":4,"width":"8","height":"6","format":"<h3>Port Call Number: {{msg.payload.content.PortCall}} </h3>\n<table class=\"table\">\n <thead>\n\n        <tr>\n<th>PCS information</th>\n           \n\n        </tr>\n\n    </thead>\n   \n\n    <tbody>\n\n        <tr>\n\n            <td>Status</td>\n\n            <td>{{msg.payload.content.Status}}</td>\n\n        </tr>\n\n  <tr>\n\n            <td>Vessel</td>\n\n            <td>{{msg.payload.content.Vessel}}</td>\n\n        </tr> \n        \n        <tr>\n\n            <td>VesselType</td>\n\n            <td>{{msg.payload.content.VesselType}}</td>\n\n        </tr> \n        \n        <tr>\n\n            <td>ETA</td>\n\n            <td>{{msg.payload.content.ETA}}</td>\n\n        </tr> \n        \n        <tr>\n\n            <td>ATA</td>\n\n            <td>{{msg.payload.content.ATA}}</td>\n\n        </tr>\n\n<tr>\n\n            <td>RegularLine</td>\n\n            <td>{{msg.payload.content.RegularLine}}</td>\n\n        </tr>\n        \n        <tr>\n\n            <td>VesselAgentName</td>\n\n            <td>{{msg.payload.content.VesselAgentName}}</td>\n\n        </tr>\n\n    </tbody>\n\n</table>","storeOutMessages":true,"fwdInMessages":true,"x":772.5000152587891,"y":1198.7500190734863,"wires":[[]]},{"id":"a353fdb3.8c2f","type":"switch","z":"f5e3859e.7c9c38","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"click","vt":"str"}],"checkall":"true","outputs":1,"x":387.50000762939453,"y":1000.0000152587891,"wires":[["c9d207a5.ba5c48","8b943ac7.b8f018","33fdb3e9.fab4cc"]]},{"id":"e4357d71.19d43","type":"debug","z":"f5e3859e.7c9c38","name":"","active":true,"console":"false","complete":"true","x":1208.7500190734863,"y":1175.000015258789,"wires":[]},{"id":"a83f10d0.5b4ac","type":"ui_button","z":"f5e3859e.7c9c38","name":"","group":"9be55b3c.514f68","order":5,"width":0,"height":0,"passthru":false,"label":"Send Email to the Terminal","color":"black","bgcolor":"white","icon":"mail","payload":"Send email to the terminal","payloadType":"str","topic":"","x":218.75,"y":1525.0000228881836,"wires":[["701b0dfa.555de4"]]},{"id":"701b0dfa.555de4","type":"ui_toast","z":"f5e3859e.7c9c38","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"YES","cancel":"NO","topic":"Email sent to the terminal","name":"Send email to the Terminal","x":532.5000152587891,"y":1527.5000228881836,"wires":[["425c96bf.d14378"]]},{"id":"425c96bf.d14378","type":"switch","z":"f5e3859e.7c9c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"}],"checkall":"true","outputs":1,"x":816.2500114440918,"y":1538.7500228881836,"wires":[["5688a15b.0ff55"]]},{"id":"3f5de071.e528f","type":"ui_toast","z":"f5e3859e.7c9c38","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1429.1071395874023,"y":1517.321418762207,"wires":[]},{"id":"5688a15b.0ff55","type":"function","z":"f5e3859e.7c9c38","name":"","func":"msg={};\n\nmsg.payload=\"Email sent to the terminal \";\nreturn msg;","outputs":1,"noerr":0,"x":1085,"y":1516.25,"wires":[["3f5de071.e528f"]]},{"id":"33fdb3e9.fab4cc","type":"ui_template","z":"f5e3859e.7c9c38","group":"9be55b3c.514f68","name":"Show Truck Plate number","order":2,"width":"15","height":"1","format":"<h3>Truck Plate Number:  {{msg.payload.content.name}}</h3>","storeOutMessages":true,"fwdInMessages":true,"x":870.8928833007812,"y":916.4286003112793,"wires":[[]]},{"id":"72c0a7fc.962a28","type":"proton-put-status","z":"ad9132c3.4be76","protonConfig":"3ddd3780.0153b8","action":"start","insname":"/ProtonOnWebServer","x":553.666633605957,"y":876.1110401153564,"wires":[["cd081efa.af5b9"]]},{"id":"c28ae99c.54dc88","type":"proton-put-status","z":"ad9132c3.4be76","protonConfig":"affee88c.c1ab38","action":"stop","insname":"/ProtonOnWebServer","x":566.6666564941406,"y":1070.9999389648438,"wires":[["cd081efa.af5b9"]]},{"id":"cd081efa.af5b9","type":"proton-get-instancestatus","z":"ad9132c3.4be76","protonConfig":"ec352ff1.b8bab","insname":"/ProtonOnWebServer","x":969.2222442626953,"y":963.2221660614014,"wires":[["ece93ed2.a3a4a"]]},{"id":"3804dcae.a16b84","type":"inject","z":"ad9132c3.4be76","name":"START PROTON INSTANCE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":172.66665649414062,"y":875.8888645172119,"wires":[["72c0a7fc.962a28"]]},{"id":"d8758ce4.73e1f","type":"inject","z":"ad9132c3.4be76","name":"STOP PROTON INSTANCE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162.7777557373047,"y":1065.8888902664185,"wires":[["c28ae99c.54dc88"]]},{"id":"ece93ed2.a3a4a","type":"debug","z":"ad9132c3.4be76","name":"","active":true,"console":"false","complete":"payload.body","x":1323.9999313354492,"y":970.8888130187988,"wires":[]},{"id":"206116ea.95621a","type":"comment","z":"a82041.aa0d7fc","name":"PROTON","info":"","x":135.5555419921875,"y":91.1111068725586,"wires":[]},{"id":"3ada5708.e39258","type":"proton-get-definitions","z":"a82041.aa0d7fc","protonConfig":"3ddd3780.0153b8","reqtype":"all","defname":"","x":587.5555419921875,"y":151.1111068725586,"wires":[["f766e3d9.11647"]]},{"id":"4b6270a2.c50b7","type":"inject","z":"a82041.aa0d7fc","name":"GET PROTON RULES","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":165.5555419921875,"y":151.1111068725586,"wires":[["3ada5708.e39258"]]},{"id":"f766e3d9.11647","type":"debug","z":"a82041.aa0d7fc","name":"","active":true,"console":"false","complete":"payload.body","x":1036.5555419921875,"y":150.1111068725586,"wires":[]},{"id":"cdbfaa25.e5a618","type":"inject","z":"a82041.aa0d7fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.55554962158203,"y":338.8888854980469,"wires":[["50985459.8b703c"]]},{"id":"50985459.8b703c","type":"function","z":"a82041.aa0d7fc","name":"Orion Headers","func":"msg.headers={\n\"Accept\":\"application/json\",\n\"Fiware-Service\":\"interiot\",\n\"Fiware-ServicePath\":\"/demo\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":296.22222900390625,"y":342.55555629730225,"wires":[["3886a4cb.6c360c"]]},{"id":"3886a4cb.6c360c","type":"http request","z":"a82041.aa0d7fc","name":"","method":"GET","ret":"txt","url":"http://orion:1026/v2/entities?type=Truck","tls":"","x":475.55554962158203,"y":339.8888854980469,"wires":[["c50ef4a0.4f5b68"]]},{"id":"be97b3af.26b89","type":"debug","z":"a82041.aa0d7fc","name":"","active":false,"console":"false","complete":"true","x":929.555549621582,"y":342.8888854980469,"wires":[]},{"id":"c50ef4a0.4f5b68","type":"function","z":"a82041.aa0d7fc","name":"","func":"msg.payload= JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":709.555549621582,"y":341.8888854980469,"wires":[["be97b3af.26b89"]]},{"id":"4b4d92f6.83dc3c","type":"inject","z":"a82041.aa0d7fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":472.2222194671631,"wires":[["ab1bfa2c.b776a8"]]},{"id":"e73da83c.120b98","type":"http request","z":"a82041.aa0d7fc","name":"subscriptions","method":"GET","ret":"txt","url":"http://orion:1026/v2/subscriptions","tls":"","x":559.1111068725586,"y":468.44444465637207,"wires":[["3b2b5946.1b1966"]]},{"id":"3b2b5946.1b1966","type":"debug","z":"a82041.aa0d7fc","name":"","active":true,"console":"false","complete":"payload","x":875.9999694824219,"y":471.555570602417,"wires":[]},{"id":"ab1bfa2c.b776a8","type":"function","z":"a82041.aa0d7fc","name":"Orion Headers","func":"msg.headers={\n\"Accept\":\"application/json\",\n\"Fiware-Service\":\"interiot\",\n\"Fiware-ServicePath\":\"/demo\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":338.1111183166504,"y":471.88890647888184,"wires":[["e73da83c.120b98"]]},{"id":"78a05e0d.1c52","type":"comment","z":"a82041.aa0d7fc","name":"ORION","info":"","x":117.77777862548828,"y":236.66666221618652,"wires":[]},{"id":"7a01046e.676e7c","type":"comment","z":"a82041.aa0d7fc","name":"SHOW ENTITIES","info":"","x":226.66665649414062,"y":291.1111145019531,"wires":[]},{"id":"757eae68.1e5d6","type":"comment","z":"a82041.aa0d7fc","name":"SHOW SUBSCRIPTIONS","info":"","x":283.3333282470703,"y":415.5555419921875,"wires":[]},{"id":"c7dacb8.6148d38","type":"inject","z":"a82041.aa0d7fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142.8571548461914,"y":632.8571481704712,"wires":[["8397061.466d3f8"]]},{"id":"8397061.466d3f8","type":"function","z":"a82041.aa0d7fc","name":"4451XVF","func":"msg.payload={\n    mec: \"asd\"\n}\nmsg.entityID=\"4451XVF\";\nreturn msg;","outputs":1,"noerr":0,"x":297.42858123779297,"y":645.7143001556396,"wires":[["19caad23.04a613"]]},{"id":"50a9a128.b94ff","type":"debug","z":"a82041.aa0d7fc","name":"","active":true,"console":"false","complete":"true","x":663.5000076293945,"y":647.0000057220459,"wires":[]},{"id":"19caad23.04a613","type":"fiware-sth-raw","z":"a82041.aa0d7fc","name":"STH","service":"cc40d096.43af","entype":"Truck","attr":"callid","iden":"entityID","fiwareServer":"interiot","fiwarePath":"/demo","lastN":"0","period":0,"x":487.28572845458984,"y":647.1428451538086,"wires":[["50a9a128.b94ff"]]},{"id":"c95bfdff.f02d","type":"inject","z":"a82041.aa0d7fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":145.42856979370117,"y":730.4285564422607,"wires":[["bc90d81a.109298"]]},{"id":"bc90d81a.109298","type":"function","z":"a82041.aa0d7fc","name":"1789CVJ","func":"msg.payload={\n    mec: \"asd\"\n}\nmsg.entityID=\"1789CVJ\";\nreturn msg;","outputs":1,"noerr":0,"x":322.8571662902832,"y":733.2856903076172,"wires":[["19caad23.04a613"]]},{"id":"3d0bf298.8c6fae","type":"comment","z":"a82041.aa0d7fc","name":"STH","info":"","x":131.42857360839844,"y":568.5714111328125,"wires":[]},{"id":"80e2ed4a.b0afe","type":"pcs-portcall","z":"a82041.aa0d7fc","portcallID":"1201700832","x":434.7857437133789,"y":890.0000267028809,"wires":[["ffa1236e.abf62"]]},{"id":"183bd51d.c6f55b","type":"inject","z":"a82041.aa0d7fc","name":"getPortCall","topic":"","payload":"{ \"truckPlate\":\"6515GKR\", \"portCallNumber\": \"1201700951\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":152.9286003112793,"y":895.5714454650879,"wires":[["80e2ed4a.b0afe"]]},{"id":"ffa1236e.abf62","type":"debug","z":"a82041.aa0d7fc","name":"Log","active":true,"console":"false","complete":"true","x":736.2143096923828,"y":890.0000171661377,"wires":[]},{"id":"39880678.d7003a","type":"comment","z":"a82041.aa0d7fc","name":"PCS","info":"","x":125.71428680419922,"y":821.4286003112793,"wires":[]},{"id":"b2c4b0eb.63721","type":"comment","z":"f5e3859e.7c9c38","name":"GUI","info":"","x":130,"y":788.5714721679688,"wires":[]},{"id":"daac5616.f2d4b8","type":"ui_template","z":"f5e3859e.7c9c38","group":"d90ea8a1.208888","name":"LOGO","order":1,"width":"6","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>\n<img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAIAAAAiOjnJAAArE0lEQVR4nOydB3gbVdb3ZfVqSbbl3nuv6SGFhBRSSQgl8IZlFz5CeWkBdumbfYGFpUPI0nZhl5ollBCSOI00J6S597j33i1bXf6ONLYy1oxkSdbYcvb+njx5xqNyZ0b/e+655557L3NkZISGQDgb+nRfAOLaBAkLQQlIWAhKQMJCUAISFoISkLAQlICEhaAEJCwEJSBhISgBCQtBCUhYCEpAwkJQAhIWghKQsBCUgISFoAQkLAQlIGEhKAEJC0EJSFgISkDCQlACEhaCEpCwEJSAhIWgBCQsBCUgYSEoAQkLQQlIWAhKQMJCUAISFoISkLAQlICEhaAEJCwEJSBhISgBCQtBCUhYCEpgTvcFOM7QkLy5uamnu1ulVnO5XIlY4h8QIBK5T/d1IQy4zcTFbeGaa6qr6+trzS7ezc0tKCg4IjKKTr+mLLFOp5PLB9UqNZvDFgpFDAZjuq9oYmaksK6UlzU1NWLHcP2gJ+x/7Iyvr19CYhJFRXfLlR+dLM6qaOWxmfcujl+bEkJRQSaaGhtq62rVKhX2J4fDmT1nHvxPdbmTZOYJq6OjvaiwADsWi8URkdE8Hg8qdH1dXV9fL3Y+Lj7R39/f6UXn1HXe/EFmx4DCdOaexXHv3rGIQXdzelkYlZUVDfV1Zie5XN7sOXPZbDZFhTqFmddk1NXWYgcymSw9Y7ZUKgUHy8sLjmf5+wdg9aS+rsbp5ebUdWx49yBeVcA/z5Td9/lJjVbv9OKAgf5+oqoApVJRU11FRYlOZIYJS6lUDg4O0IzuVExsPN6XgjNR0TGY/zEMDA05sdxLNe0b3jvUO6wivvTtxcptnx4bVmudWBxGa2uLpZfa29v0ekrU7CxmmLBMrgaPxyf6GUwmUyAQYMcqNYkIHONidftGUNWQxS/cn1e35YPDg0q1s0rEUKqUll7SGnFucc5lhgnLbcyb0enIH6tWp8MO6G7OuTWDqt4/1K+YQDSnypvXvXOwR25RCvYCJnegf8DSq0wjziqLCmaYsPh8AfZAoU1sbGwwexXaDqwFZLFYAqFwkmXp9SO7jheueefAAEFVXBaDwzTv81+u7Vj4yo9His2vygFaWpovX7qotmx0wVxVVFxxZaM1w4TV0tyE+RbgUYED29BQD09/ZEQP/mxTUyP0obCgA/wPZyZZ1uGi+v/7+bKC4DzxWIwXN86G/iDxI/Xdgw9+cfrnvNrJlKtQKCptEE2z8X5dVlszJtwA11lWWkL0Z0FDdDpDq9WY4lgYcDIxKUkm83asuIvVbWvfOUh0yUVc1o8P37gwyg+e2rPfn3/vaCHpx/997/Jb5kQ6UG5/f39+Xg5eLoGBQSw2u6e7S6VSsTkcvSFYKje9yhcI0tNnuWBYa2YIa0SvLy0taWtrtetTILW09Ayp1MPe4s5Vtm7elTmo1Jidl/DZ+x5ZMyfcx3Tm5f3Zfz2QQ/wGMY999KkNSYGedpXb29tTkJ+nG3MTgZCQsMioKPx7wLk8c/oUvksI/Zj0jFlcLteusqiGsXPnzum+hgkA6ZeUFEMHG38yLDwiLCwcarZarYY3gFMFAoqIjJTLBzWaq4KAn8rX18+uMZCzFa2bP8iUE1QFtgpUNTfCF39ycYw/+Fsny5rN3qzS6n64XL0wyjfQw1ZXr6enu7Agf5yqQs1VRTNYYrpI5N7Z0W6yCGCtOzs6wDbDQ7CxrClgBlishvo6cCbwZ8JBVeER2DE0DTq9HqSDxbTA5crLzQV5md4sEAjAbnE4NlXorIqWm3cdlqvMVQUWCFrA+ZG+pJ/6+FTJE9+e0xOeJGjxuwdXL4mdeAygu7ursKBAr7+qKrjB8LF7JEJUIdwg2C0+nz9hWVODq1usvr5eaATx6serimYIQNBBVSYHi8Fg+vj49vX1qcaCQGDAOjs7vGyo0Oer2jbtyiSqyp3H3mdZVcCsUO9QmSizsMFMW2qt/qecmsRAzygfiZVy4fKKCgvwrVt4RKQVVdGMzZ9EIoUPmj4FTSSYMVtuc2pwaWH19/eZ+RxmqiIFdObt4zMw0K9UjHYMocU0aMtLZuWh/wZ+lSHISaKqnx9ZM8+yqjDAnQIBHciv0+rHaUuj0+/LrQmXiRMCyF299vb2kuIivKrA6iQlp1gvDuDyeFKptKOjHactHWgrOCR0ws9OAa4rLLBVoCp8/yg8YmJVYUCz6O3tM4Qb2IHv6Whv8/DwJO1Anb7SDC0gmbfO2f/YWry3boUYX8nsMO+f8+pATPjzOv3IL3l1nkLOrDDzLip0cktLivH2WCgUQi+PYVvwExx2uKPO8dpSq1SeXl5mfeSpx0WF1dsLqsrF26qIiMiwMJtUhYFpC5x3pXK0TYRvg/otMQ5a4995urx5y+7DQyrzyAKfzfzFZlVhhMncF8f47c+vU2p0+PMgnCPFjWwmY2GUn+lkS0tzeVkpXlUikSgtfRbbntgB1BNPLxloy/SsBgcH4Ja9ZLLp1ZbLOe9wPfX1dbU11aZayGQy4+MTZN52/MAmoM9YUlLU091tOgOCg+4ktBdwAF7/W4fzXz2YqxqvA5pRVV/ed8ONyY6kW9V3D2798Gh+QxfxpU0Z4W/cusBfKigrLQFh4V8KDAqGyuPYQA04lOVlZV1dnaYzYokkLi5eIJjs8IPDuJawQEzgcIBdwZ9MSk719nYwzolRVVVRX1eHP+Ph4QFf+97x4hd+vEh8v5TP2ffomtmElst2OgaGl762r65r0Ow8l8X4/qHVUUJtRcXVfi6YloTEJOhzOFwcRlVVJVRJ05/ga6akpjkQxnMKLiQsUFVpSRE4s/iTUIlDw8In/+W1NcDVHCYG3a2b5XXvtzkqrbmtMvhVj64h+kP20tw7tObtXyrb+/GFfrV9RboHraKy0nQSDGdiYpJj9phIdXWlKV+NZtQW1B9PT/vitE7BVcYKMVtlrqrIKKeoimYIC4VHRcdgxww3WqWC++DePKKqPIVc8KsmryogQCo48uSGpMCrBmP3tiWpEh1eVcYfPsVZqqIZ6mEUj3c1lAWOV2FBHvSInfX9tuMSwgJVNdTXmbWABlWFhjmxlODgkNi4eCbdrWKY/XRmBemIDagqI1TmrBJ9xfzDT2yYF+EDzcKbty9c7Meoqr6a2gqqSk5J8/JyWnEYGbPGhUnh2RYVFpiNW0wBLtEU1tbWgLuOj+VERkaHhIZSUdZPF0rv/eo8MWfBQ8D5GVQV4uSfGZArNZlF9bM89DW1daaTDAYzNTUNuqhOL45m8OVVebnZQ7gcWnDj4uIT/PycPw/AEtNvsXp6us1VFUWVqo6XNN77JYmqpAZbtY4KVQFCLitNosOrCkhLT1czuEtf++nMFYv5xw7D4XDSM2aLRCLTGSw3xKwfSinTLKzenp6C/HxzVVETOz5Z1rT1o6MKjbmqhBzm35YH+nOoSmwqLyutr6/Hn/H3D1DS2Kvf2n+ppuOW3YfPVdqXtWELbDY7LX0Wfvoupi212sn505aYTmEZVFWQhx95pU5VJ8qabtl9hBgFdecw31oZ5M8bKSkpamt18g9s7OeWNDc34U8GBgZBq7TqrV/KW/vgT3D1Nu/KvFDd7tyiacY02rT0DLFYjD+Zm3NZpXLabAArTJuwuru78sfH1qOiqVLVkaKGLR8cJmbt8Zj0t1cFBfAMkXFjck5RW5vTnFyjqopbW8e1PiEhITGxcX87lFvR1mc6Cdra+N7Bi9XO969BW6lp4zLSwPECbZlGI6hjGoZ04ImDt15xpRwfWw8PjwgJcWYfEEOr079yIGfHnrMqwtQ/IYf1zQMrE70Fff1XQ01dnR0arVYikU5ykr5SocgvyMNH/OE3jotLCA4J7RtWvZmZX989Lnaq1ur3Xq5257HTQ72dOxIDN+Lj6+tGc+vvH5WyRqNpb2vlcXmTnxZghanuFYKJgt4vmCv8yZRU5/e6MV7Zn/0KWYanl5B74PF1yUGGyGFbW6vZSLBYIklNTbd3dGVgYAB+sMHBQa1Oq1apVbjJW1wuLz1jFo/Hw/7U6UeCdvy7j2yW4j2L4t7ftpiKQT5iCldoaHhEpCP507YwpcIiVVVUdExwMCUrIBwraQTXWE2wVaCqgzvW4fOGW1tbysZnfYnFEnBQbEw9Nc6ZKW9tIe/fkaYOYzNgifN/gPuvT3h763W2lGsvPT09ebnZ+DMG28ygg/Xy9fODYyeWNUXC6urqAm+jr7fPbEpTVFQ0RflDx0oatn5IMkEZVHVox7pEQjY6UVvQpRII+J5eMm9vHyst44hen5eX29vbM/rn2DeY5gstWHgdWCziB89Xtd30/iFinBbI+8ttMX7WcgMdprio0FKwFFrMxMRkZxU0FcIi5ofQjE8c+oAU2Sr4zda9c0BByFnwdudl7lgf509eNaEhKxnfJmKIRKLklDRLsxXqamurq0dHaaDH5+vrB21oZ1dnTXUl9k2hYWEREeap6xhZFS3QJST2VX3c+UefWm8979Qx4O6g0bA0yDN37nwhLvo1GSjvFQ4ODhBVRTM6s/7+AVSUqB+h/fG730hUJeIdfHydJVXRDFXWLyAgkHge3KaC/DzStRLgZGOjIUYFNwjdPfgH/hk4xaGhYfEJSdhdNzU2Wpr9tyjaf+9DqwUcc2eufWD4lt1HiIHcyQP1eXjY4qoWlVUVziqIcmFBhSY1imq12sqiF5OhrU+eU9dpdlIm4kELaCk/2ISZ/2dCLh/saCcJNQ3J5VjIUSAQgLnCvwSmC4shgarwkzvMWBobsOeBVTy2ubYq2vp+zKm2frUOIJfLhywvl9Lb0+OsGbCUCwv6SpZe6u/ro6JEJcFWAXfOj46fSFXQD7cS4OnuIdGcWjPqffP5AuKrwrHAt1pN4kiZWB4fuOeBlXyCtg4XNVq/YAfQaq1dCZiAGSMsfGDdDHzX14n4iPkirvmkiXePFryRmWf9gyMjeiseJ+kTZ7FGVz8bHh4mvmpaG4c1UeSCx2bQCfErYlbP5LEeQ4GG0lnrUFIuLJ7lmW4UBegEHNbvF5EsrPDnny69epAkpmUCVGIl39zdXUw8KRQKsJX1DCvtNo0bugHj19NjCJDCr8UXWJvud6KsafP7JJMZ5zgjLcwMgUDI5ZF0UTHEYomzZo9RHnnn8/kd7R1gDIgvhYWFUzTB8rpov85BJTHr/MyVltLmXnCZQXzET4ECoELjM8dNgAsVExNHrM1ubnToLWKdLPggNO5KhQKc/fb29ivlZZhJ9vUDyLspGp3+jUO5j3x9ljg0fkNC4Ktb5rMJa9pMErhHuCpTcMSM1LQMZ61AORXhBnBd8/Jy1YSxT0NWblKKTEZJzB34LKvs4S/PEG8vUCo4/MT6cG9zCwRueF5uNn7JDQyph0dSUrKp1SPS3t5WWlJsaYk9Q0JfcqoHIT8YWro7Pzp2qLCe+JG7r4v9YNsSKlY2bWpqBMUTz4OeoqJjoMPhrIKmKECqUim7u7r7+noB/AJDoK2ExORJzpWwwqNfZ316upR43l9i0Fakjxh3hebJcRwOF0Qv8/b28Jg4ZxwqT2VFBVgC0udprELJ+KVvVBrdtk+OHyioI77ZU8ite/MuKhbMhZqTdeYU/oxUKvX28eVyDXNfnbvK91SPFYLCcnNy8KEUMM7pGbMlEkoCzXKlZtVb+/PqSTp0vmL+uec2+0kMvTmVUpmbm413wOGqMjJmi+28KlAntINguphMRnlZqUKhwH9hQkKSj+/oVJxbdh8+WEBiq0BVB8cGMZ0L0R5LpR4pqWkUrRo/1WkzYAYyZs3Gz3cDZUM7YqnVnyRCLuvAY+tIJ3K19Q8/8MVp6AeCV5STcxmvKjAwSckp9qqKZkzd9PLy8jYaObhNfAwCS8vBQne/ljaRqkomAlWtpUxVOVOmKtq05GNBcw4PXeR+NblRoRgGbVGU3CgVcH55bO0CssUXoIevVAyDqvCmxTAdLyXN4RXbTGBVSCgcV4Uqykq+PZO/5YPDxPePJVx4TbJcIuDd5uZcxgdpweGjVFW0aZxModFoCvLzTElCtNH1hqhanG5Qqd7ywZGsiquxfpmId+ZP65uuFCpxvQroFSanpEmdN8cBbjM/P3fAmPIFXlNuu/ovZ1rMFg4BvERGVdm5UJstGFQ13nf09PQCe0z1vinTOUtHq9UWFuSBO286A21HegZV2gJ/Czyb08bJC6AqcN41HXWduOACqCo1LV0sdrK3B7cJVWigvze/XfnC6VaCqIwJF0+sT5xoYMABQFU54DtOuapo05vzDj+kcQ74VfMATn0OZYmz4G/t/d/VS2L8PQ2ZM2uZg214VbFHM8Sd34fA9FqjYD9Ppipv4yAmJapSG2wVXlWY7zg1ezxN/7xCnU6XffkS3gPg8XjGzDiLAeLJAG1ic88QfaC1ERcoB7cvPT3jdHXP9XEBxPHgyXOkqOH2j44Slx4BW5X5xPoJh8YdABxW8KuGCKqiKFOXyPQLi2bMEK+pqcYnO7BYrOjoWF8/p8XrTAwNycvLSvvGxr/h5r1lMv/QyBd/zv332fLEQM8Pf7ck3XkTDEFMrx3MeftIgdmiWVDuivig/1sd4+3OdXr6UFdnZ1l5KT4iLRK5x8UniJyUa2ULLiEs2ljQwWxd5KDgYJCXE0sxy/uGO48IDxfKAta9c6CoaTTewWbSv7pvxbrU0MkXN6QCr+7IqXKSaaLbr098bJ5vVbUhMSYgIDA2Ln7yxWEQl2wFKwW2aor3cJz+mdAYbm5u8QmJZnPAGxsaSMcfHMO4gOy42QS+3j4ig6oOmlRFM06Y2fbJ8f2T2wQAGFZpbv/wKKmqvN15j8/3w1QFNDc3lZHlQjqASqU0V5VMlpiUPPU7g7qKsGhj6wv4B4xrF5qaGk17Xk4GaB3MVMXl8aJj4/51tryoqdvszSqt7q5Pj2fXOr5IC7SAt/79yK+lTcSXQFXQIVVrxuUytBi0VTJJbakM8apxcyUMtippirx1M1xrqUjQlkzmrVGr8emBfb29Ug/PySyQ39HeXlxcOG7RfT4/I2M2h8OZH+XXP6S6TNCQTj9yobr9jvlRxD1zbOGVX7K/Ok+S5usr5h8yJt17eHrpdTp8GE8+ODiZJR4xVeHHDzy9vJINLeD07PPrWsLCgHqm02n7x+aRQj3u6GgXi8U8y4lEVmhtbS0tKcIbA4FAaJqPBb/hisTgIaXmYo155nGXXHmppmNjepi92oJm9KnvzhOXfQdVZe5YFzuWdO/h6Qlax6fRQtdYoVBA1bJXW8axznEjsF4y76Sk5GncPdoVhUUzxvFACqateOEHAG2J3MX25m+Bt15UmI8/IxSJzDafcTMkPwUNqbTEBRTquwcvVrXfBNpi2foL7cup+d0/fjXrA9IwVT2xPsZvXEzfw8NzZETfN05bcrA63j52LMWmNI6gK3C2SuY9zaqiuaywaMZlQmnGdhD7E7Nb7u7utmtLrVabLejt7i5OSyfPZVseH6jQ6M5Xmc+5a+iR/1bVtikj3Ba7tS+XXFU+7vwjT66P8SWJvmI5OX244YehIblUKrXRPBtsVU62QoFTlcx7Wrx1M1xXWDTjCDzdjY6fC2qwWyIR6cwFM4z5VTn4Jw6NaWpaupXU22VxgXKlltgmNhq1tTE9nGvVbv2cW3s3mar8wFZZUBUG3CY0ffihLUPTL5FMqC2DrSKMoM+eM2/aVUVzcWEBEqnUsA3AWL4HaKuzo0PAF1jPlzdmfWXjfQ74ntRUa6rCuCEBtEXib4G2zlW2GuyWBW2Bqn736XE1WQsIfUArqsIwasvNrAqBfbUyYwDLTDTPy0hNd5HtdFwlQGoFnU5XcaUcvxod/AaBgUERkZEMBsnwS3t7G7zflITj5kYPBcLCba/Hey5UPvmfcz2ETaCjfcV/37ZkQdS48QCFWvvS/uxdxwt1hIHAtSkh79+5CMsltAWoM+XlpbgrdwsLD/f3DwAnDFwoeA50BgPMmLe3T1dX55XyMnyikbtYHBcXLxROXWzdOjNAWBggrLLSEvwZeIjgMDGZTOi3M5hMrCdVVVlRX19neg+ICQyV1MPuwbjazoHFr/7UTdjjmUF3+/T3198+d3TK/IBCven9zPNkS1s9tjLlr1vm2VuuMWpwmXQymQnwEc1y10BqCYlJrtACmpgxwgLaWlvMdgLjcnk6nWE/d8N+hR6eLBazqXFcNDUyKsrhZbf2XqoCT5x4nkmnf3T3kjvmRQ8q1RvfO0S6GN+6lJDvHlrtWLmgrbNZp81Owl1bikH4+PjGJyS6lKpoM0tYNMvrdpACTxzq8WS2lNm579Lrh0imuYLd2vfImlcP5PxG6EUCfhL+ueduBu/K4XIbGxsqrlwxDmYaJCWRSAMDA1lsNlShluZmbLoiho+PT3yCa9kqjBkmLJqxx4Tfhy0gIFAoEg3094NrhY+t+/n5x8UnTH6jIkvaYjHoxA4gzbhvAHjrEYS5ZXYBNwJGS6PRwK8TFBwSHR2Dv5GzWWewVd2gR5KWluGCqqK51FihjYA/AS4tzViVY2PjYuPiwZGHtiA9Y7YpJAhqgzNO2f5q501z/nhjGvE8qaqwWWWTVBXNuEQPtgExuOpRUdFmNxIdE4OZA3AuXVNVtJkoLJphWM0QfeALBAG4BV7EYjGWHAG+rROzUICdm+Y8uy5jwreBrTr61IbJq4pmXIIWOzBE8gjSkYyluU7BGrUOMyOFhTV5xPUtWGxDmIqKtv35DbPgn5U3YC1guMzdKcXR3UZ/F9LZ1TjvZZp3u7TCjBQWturc4MAAPvVWp9O1txk6aNZX4HAYMFqWtBXkITzypHNsFYYp/At+ukZjvlhIx9h6fC4SCyVlRgrL19cPczvy83IGBvqhr9Tf35eXmzM0ZGgiA8lW5XMKoK1n1qabnQx0qq3CMAxbCQxhVVBVcXERfrgT6k91VSV2+9QtTTB5Zl6vEKOrs7O8vBTbZAGeMjQZ2Fox2O6plBadVdHyw+Xq8rY+dy5raWzA1nnRUoHz56sNDAwU5OdigVC4L4lEwmKxQWd9fb2Yzrx9fBJcMtCAMVOFRTPW3ebmptbWFpVSyePxPT09g4KCWU5ahccVAN+8sCAfeohm5w1DPWHhNu67Pl3MYGGZsBKVnumAJYaa09LSPCSXwzHYJ2gi4+Li8bsvuSbXgrD+GwBVgYVmMBgu2/aZgYSFoISZIX/EjAMJC0EJSFgISkDCQlACEhaCEpCwEJSAhIWgBCQsBCUgYSEoAQkLQQlIWAhKQMJCUAISFoISRucjaPX6jn6Fv9TWVQYQziWvofOtzPz8hi6tfiRC5v75vcu83V03n90WDGkz3XLl2rcPFDZ1v7pl3qMrU6b7kv7rOFnWtHnXYfxGvSGeoqznNnsJHV8dc9oxNIWHCuoLjQu87rlYOd3X89/In/ddNtv+ub57cNexwum6ngmxJYPP0BQyGaN5vQwXy05s7x9OfmGPRqe/8tqdMhElG1VMOxqdrrKNZDf/shZK9tmbDKfKm+/65HjX2Ao891+f+ObtCy3t12lQ0vrUsJWJQWB44a1TdpW20No/PKjUKDW65t6h6b4WqmAxGKQTEqP9nLYDmbP4n4+PdeHWdfroZPGeCyQrQ2MYhCXksvY9sqb2zbv+Z0H0VFygzbgRDq5Jnt8wy2yjXj8J/+HlSdN1PZYgrkS393K1pTdfbfuo2IQYYQurk4Izd6xfFhfgIeCIuKyMUNmZZzb5TGIVpCljWG0+S9uE83e6QjjAddF+B6LXaXV6/cgI26EtC1wNJCwXgslwrc7TZLh27gThUiCLdW2i0upa+4bkSg20rVwWUybiUbHAhBWv3MnCAi+hpW+oX6GG++GxmL5ivjvPFRdTAF+mc1AB/0ZoNDGP7S8RTEEzpB+hWeogKTXaNw/n78upUWv1s0Jln9273LEi2vqH38zMu1jTXtXeD7+C6TyLQQ/zck8K8tyxKiU1RGZXNy2vvvOH7JphtZb4UlVH/45vz+HPeAo5W+dFh8vcR2dCf5ZVtj+v9uXNcxMn2kj9nSP5ZytaoYecNn4b0oMFdR+fKsmu7ewbvtop5TAZYTIR9HruW5oQ6mXTcgPNvUN7LlQojZFoeEz/PGPYr/CexXGW1ooFWWxfmshi2iQLjU5/uKjhx+zqM1da2gcUpn2UpHxOeqhsXUrobXMjJXw7arZOP/Ly/sslLb2v3Dw3yodkl4DS5p59ubVZFS0V7X1uNLfXbpm3ZXYk8W13fHQU3mb688WNs55eO/EagmYFvZ6Z93NurVkQn0hKkOdjK1PgMmyJA4AwHvkqi7jhlBV4bOZ/HlhpEBZU3NAnvoCPbl+a8M4d11n5TG3XQMKz38LB7DDv089sohmXz3/uhwsgKVPRcLlQP+BSNNpxK+qDMv7zwKrZ4RMs6bT0tX2XCBtDWOfptWkvbpxj/T3wnQ9+caZ0fDibw6SPGHe+xJ+Uibivbpl/x3ybQnog0NVv/UIz7hWwF7f+dv+w6uGvs74nhHkyQmVZz242O/lDdvW2T46bncz9y62xtsVIvzhX/qfvzuPtk43cNifyvTsXWWlSmnrksc98TdwgfULcTRtru7nZtIjD1Yil8Qhu5tbdh7MqDPvtBnsI714Ud0N8YJjM8LXQ1gwo1WBFMwsb4MHBO8H8rHpr/9fbV9yYHGKliLduX/D24dEdlOFTUNfhYFG0v9jC/fPZzO0TDRjsOl743A8XtcbvZDPpKxKCNqWHL4jy8xJyR4wiyK7tOFhY/3NeLTglnYPKez8/mV3X+cZtC2yP7bnh/A1oNW7/8OjpK1e3uIZC/cSCCG/359aTrAkItpN4smNAMaGwdHr9s99f2HW8yMaLNOM/l6oKGrv3PXJjsCf5fhZavV2m6iqgJcd9LPidwIBjqtq2IPq1WxaYuYdCLgt8l7UpoTtvmr3t0+Ony1uUGh1UzaNPboB2x9LXZoR6f33/Cuy4qLF77kvfw8Gbty0A/8Cx63xpf/arB3Kw4+VxgW/evjDGb1ybJeKyAj2EN2WEv7R5LvxO2Ej8RyeLY/0k0ILbW9ygUr3lg9HKBpZ7VVLQ7XOiFsf6ewktjnU6HJh+7JuzmKvgMOWtvSvf2H/sjxuDPEj2JgLvBVqYSzV27zQLtsNBj5VJp792MOdkWTPUxY/vXvrx3ddb6XR4iXjfbF+5dZ5hmxCozX/47MSEfgCGqb44WHFotBNlTSZVPbsuY9+ja8xUhQca68/uWQaGCrPHoEhwEuwqDqo41BxMVWuSQy7/+ZbvHly9eVaEFVU5zOuHcq2oCu7l+riAbQti7loYAxY60HKmXUOPfMsHmaS+OQAtzOIYf9sHZUAPN88Kf//ORQ5arIq2vpy6Tihu1/8sgquf8P0gu79umXewoH5AoYbPfp5VNjUD3m+Mrf3/woZZz9iwpDbw0PIkcBxf/OlSt1z59N7z//zDMtuLe2V/ztFiw54r9y2Nf/eORQ5csI2cr2p7eX826UvXxwY8sTr1umg/fAQfmpfz1W3vHSs8VFBP/EhRU8/zP1x4eyuJex0gFR5+Yn1L7xAoL/mFPWavgqsNVRFf6yV8tpcxD8VBi9UlV4LV+cOiuG0LYm38iI87/+mxlWE/PlmiI1to2rlkXWnBHJ1NGeE2qgrjyRvTViUaVpD/9kKl7T2J3PrOt44YdnNdmRD0+q0L7L9eWwEHFHpqWjKnGqzLwR3rlsUHmo0LMRl08FO/f2j1+tRQ0u/85FQpcWNsE/5SQaQPSQoGl2VIzYCXTP+8xrKbHA/egDe9c9MEfTEz7lkcBw4NHFxp6ytuojzfaOfPl2mGOsR5h6wuWgdcMcxzN7Wk1oE3v2DsHyQFeH65/QZKx/vACywhy9ZaFhcAnrj1z35z/0rSFgacjb/su+Sc6zPiuLCg8fa0M3dWxGWvSgrGji+QbcXmROD7sX14H12R7O1ut4sDFXF+hC8c/FraXNdlvrwskXNVrSfLmzlMxr/+33K4TQcu2HZ2/0rSDQyQCr647wYuawLfBioAeC/QhBFfgut3zvUZcVxYt5AF+iZkaWwAdnCx2u6+hl1AK0Yz9svuXeLg9ieLYgwbXoI/vj+vbsI3dw0aMuAeXJYY5095gl5hYzfx5Mub53oIbKrnYE13b1tMJywHDK5SLyHjymEcFBa0aImBdu8uCZg2se0eonAfGJ1+5EhRAxzE+0vtNasm5oSNbiV/yraqzGbQH6Q+O0+pIelQh3iKbp5tx+rciYGeG9JCiedJd/R0DAeFBS3FhFaXFI+xqIRSQ96/dQoFDV3Qi4aDJTH+Dn9JSrAXdpBV0aKw0BvH89jKlADq588dLW4gnnx0ZTLTzvkKpNtOkfYZHcNBYbEcHbIlWmAqMPm2tu/HTMRLyMWGO4ZU2tZ+a3vpYqxMDHK4LNvBKowZMb52t79gGgQcc9NwhWxah2M4GMdy8fX6+8cGwv9xpvRQoeO1UDXW7siVE4zEgdvu8NiAXXT2k8Rs/SV25zHz2Ewfd35N57h+yZDKYqqxvVyb+VimceXqjgH4N/kvnDDyH+wppLoziKEbIYn/OTZvjzgS6sRF/69NYZkemZ+Y7zHp+cSLo/0SJuqpeFCQRkcK37gnoxkdA8OkAUwr6EdocoJ9csxvJuXaFJaQO/r0H12Z8siK5CkoccryGUO8SDIRoEVbEOVn1/f0Dik6CK0q2F3Hr2w812bOe9hYUiFU5akpccqm1oSSCeug/b25c5VtOkLDlx5iMevEXq5NYSUGemLdz7quwakp0W2qJtXOCiUJmh8racTPUbYFYhIizTio7OBlEbg2heXtzos2RmKz66iN7089HBaJaRxWa98cy+OwhZLmnp9ya4jnZyFhTcim9DD4v6FbXtDQNd3X4mTSQ7yIJ3efKDpX2WrLxzU6/UNfntERkiN4LIa9DTrpMADGzBAW8SlMyFNr0kKMGbdbdh8enCgKNbP4+v6VHIIC4BGteGP/Y99kWf9sVkVL2JNfkuYCfXaP3VOD8hq6qtr7SV9yaWGxx8x+cx9JuNk60HP+45o0mnHazws/OpIQoh8Z+bW0qc2GmPsUAxXm8VXk6+N9cqp050+XesjGYaFqHi9tWvv2AdJXb4gP3GC08Xah1em3/+tkF1merUuHGwKlArDPCo0ur75rfardt33Xwph3jxVUtvV/cqok3l9qbwL7u0cKnv/xYoBUUPzyVlLPZhr509r0o8WNufWdxJdez8z7+4ni6+MCbkgI8pfwGXQ6GOxLNR0nyprKWnpJv00m4n30u6WO9T7OV7cnPr9naWyAgM3sHlKyGXR4zlC0SwtLxGWnh8qgY/zlb1d2rEo1RadsBJ7p02vS7/nsJBw//u1ZuVK9Y3WaLR+Eyv3hiaKdxsQ3cCOI3fJpB5rC7x5atexv+8CJJL4qV2l+ya+Df7Z8lZDD+u7BVbYsPxsuczcbAsIYUKj3512dFHmgoP6ff7jepZtC2ljWFzRnj3x1Rm3bFAw8t86JunmWIZ8EtPH8j5fA36qfKAABPab17xx8cs9vWv2IhM/e+9AqPpva6ueYbP0lggOPryOdXWM77jz23v9dNTfCx5Y3256B997RQlcX1u+ui8VmmOy5VLXk1X3fXarqHFRgvjzYksu1HR+dLLYiOAbd7fN7lv1hURz256GC+tQX/3Pfv06C82Q2LwW+9ofs6s27Mue99D20GjTjzNXjT22cZ8wjpRQxj8QSu9tgniO9xaeevml+pINXGOHtfuKPG5fEBNj4/kdXJvvZtmpXv1I9WhdHjNVmwqpjeoPDjYO9nwOb/9Lmub//5wk4LmjsuvsfvzIZdAkPmnK3IbVWrjSMdrnR3LZfb9F/gvd/sG3xnHDvZ7+/0DOkUml1X/1WAf+gYY2QiT2EHBBoU48cnHRsliwGeCd7HlwVHzDBEKFp1HbEQbtjABwUuE38lDioS3ETFY3hJxEcfmL9ruOFrx/KG7B5MjQUt31pwrPrM+waiZLwOV/fv2LT+5kTzrpeFhdoEBY8YimfAw/d0mxjEwI2i0mna/V6h1eKhotjM+lqrd72W7ptbhT85C/+dAnroEFPBB9lhm+LtTxV0MRdC2NXJwW/c6Tgs6yyQaMcQZSgVOI7fcT8+5fG378sacKnQTNOPcIO/CeR+BUgFb69deFj35w1Kfuze5YRAwqWYDHo4IDeOT/6wxPFn2eVW58L6c5lb50X9dDyJHsHrTHAfp9+ZtPDX53B5k6SsiIh6NUt80Zn1l+sbv8pt+aRFckTPqBjJY0ny5ofXJYY6GjrDt9worQJ7s2ubxhSaaAfBJ+taOuDY3DMfcS8xACPO+fHRPtOLCwTUK3hew4X1Zc09zb1yuGruCymp4DjJxUkB3muSQ5ZEOnHtacP+GN2dWFT98M3JDucA41R3tq793LVkFK7PCEQfhvHvkSp0X5x7spvlW1X2vs6BxT9CkNeGvSBvERcaDfnhvvcsyQevPXJXCcG1EnoHBQ3drf0Dat1OqgG0LCmBnutTAzGVgawacmGaxUwfmAkoK10OCHWlTGsd6LRQRvNZjKnfn3Z/2phIajjGqypCFcACQtBCUhYCEpAwkJQAhIWghKQsBCUgISFoAQkLAQlIGEhKAEJC0EJSFgISkDCQlACEhaCEpCwEJSAhIWgBCQsBCUgYSEoAQkLQQlIWAhKQMJCUAISFoISkLAQlICEhaAEJCwEJSBhISgBCQtBCUhYCEpAwkJQAhIWghKQsBCUgISFoAQkLAQlIGEhKAEJC0EJ/z8AAP//ZAkrI3C3XSMAAAAASUVORK5CYII=\" alt=\"\">\n","storeOutMessages":true,"fwdInMessages":true,"x":178.57142639160156,"y":1675.71435546875,"wires":[[]]},{"id":"9308d65c.314de8","type":"ui_template","z":"95b8091e.1ddf38","group":"d90ea8a1.208888","name":"RUN DEMO","order":2,"width":"6","height":"1","format":"<h4>RUN INTEROPERABILITY DEMO</h4>","storeOutMessages":true,"fwdInMessages":true,"x":104.28572082519531,"y":50,"wires":[[]]}]