utils-as2as/AS2AS - Introduction to developers/node-red-contrib-position-simu/flowexample.txt
[{"id":"64c51c0d.1479e4","type":"position","z":"f50572f8.e4771","positionConfig":"ec045063.11ef7","x":298,"y":420,"wires":[["7b87d70c.1945a8"]]},{"id":"54ce861f.f3c318","type":"position-action","z":"f50572f8.e4771","positionConfig":"ec045063.11ef7","action":"stop","x":589,"y":299,"wires":[]},{"id":"7f1bbf37.efaa9","type":"inject","z":"f50572f8.e4771","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":342,"y":264,"wires":[["54ce861f.f3c318"]]},{"id":"7b87d70c.1945a8","type":"debug","z":"f50572f8.e4771","name":"","active":true,"console":"false","complete":"false","x":633,"y":429,"wires":[]},{"id":"ff25907.dc31e7","type":"position-action","z":"f50572f8.e4771","positionConfig":"ec045063.11ef7","action":"pause","x":596,"y":208,"wires":[]},{"id":"7b7d7373.07df0c","type":"inject","z":"f50572f8.e4771","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":339,"y":173,"wires":[["ff25907.dc31e7"]]},{"id":"d0f11ecb.42e4","type":"position-action","z":"f50572f8.e4771","positionConfig":"ec045063.11ef7","action":"start","x":587,"y":132,"wires":[]},{"id":"96dfca7a.29d948","type":"inject","z":"f50572f8.e4771","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":340,"y":97,"wires":[["d0f11ecb.42e4"]]},{"id":"ec045063.11ef7","type":"position-config","z":"","name":"Simu1","file":"/home/nodered/positions.txt","uuid":"4789603e-753b-4b30-86cc-cc4c1eebebe9"}]