as2as-docker/Docker Image Builder/nodered/flows.txt
[{"id":"34714cb2.21bdd4","type":"tab","label":"1. GESTOR DEL PROTON"},{"id":"10718d03.78e8d3","type":"tab","label":"2. SIMULADOR ENVIO DE EVENTOS AL CEP"},{"id":"f5e3859e.7c9c38","type":"tab","label":"3. OUTPUT CEP Y FLOW"},{"id":"95b8091e.1ddf38","type":"tab","label":"2.B Envio Posiciones Simulador"},{"id":"46bc7822.90f5e8","type":"tab","label":"2.C Envio Posiciones Simulador"},{"id":"6172c10.ad9a64","type":"tab","label":"Test PCS"},{"id":"55ff103d.ba1a2","type":"tab","label":"STH TEST"},{"id":"59b16a57.79a524","type":"tab","label":"TEST ORION"},{"id":"ad9132c3.4be76","type":"tab","label":"Test Map"},{"id":"6473aa99.6d4264","type":"tab","label":"Flow 1"},{"id":"4e3b28a7.ee1848","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"INTER-IOT APPLICATIONS AND SERVICES","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"affee88c.c1ab38","type":"proton-config","z":"","name":"CEP1","protocol":"http","host":"192.168.1.252","port":"8080"},{"id":"9b7e81fe.4863a","type":"ui_tab","z":"","name":"Instance Start","icon":"dashboard","order":"1"},{"id":"3ddd3780.0153b8","type":"proton-config","z":"","name":"CEP1","protocol":"http","host":"192.168.1.252","port":"8080"},{"id":"ec352ff1.b8bab","type":"proton-config","z":"","name":"CEP1","protocol":"http","host":"192.168.1.252","port":"8080"},{"id":"9d62127a.e0517","type":"position-config","z":"","name":"Simu1","file":"/home/nodered/sample/positions.txt","uuid":"e0cc0bcf-819e-4ff1-b44b-28f8089a7d11"},{"id":"6e098b57.988d94","type":"position-config","z":"","name":"Simu2","file":"/home/nodered/sample/positionsb.txt","uuid":"25e1c2b8-12e5-4f57-8108-f5d78beb4fe7"},{"id":"cc40d096.43af","type":"fiware-sth-service","z":"","name":"Local-STH","url":"192.168.1.252","port":"8666","authServerUri":"http://localhost:8000","authorizePath":"/oauth2/authorize","tokenPath":"/oauth2/token"},{"id":"7e7578c8.6c7668","type":"ui_tab","z":"","name":"Inter-IoT Applications and Services","icon":"dashboard"},{"id":"9be55b3c.514f68","type":"ui_group","z":"","name":"Map","tab":"7e7578c8.6c7668","disp":false,"width":"15"},{"id":"d90ea8a1.208888","type":"ui_group","z":"","name":"Map Buttons","tab":"7e7578c8.6c7668","disp":false,"width":"6"},{"id":"d549c036.98b0d","type":"ui_group","z":"","name":"Default","tab":"688d0832.1ae698","disp":true,"width":"6"},{"id":"688d0832.1ae698","type":"ui_tab","z":"","name":"testing","icon":"dashboard"},{"id":"b034b6ed.567e08","type":"position-config","z":"","name":"Simu3pcs","file":"/home/nodered/sample/positions3pcs.txt","uuid":"89576021-3ea2-43f2-8d1a-e31024bd595a"},{"id":"3c2209c1.2bbae6","type":"position-config","z":"","name":"SimuB3pcs","file":"/home/nodered/sample/positionsb3pcs.txt","uuid":"9b9fd537-2094-4548-bd8a-3e46635e3d8a"},{"id":"234ac13d.b4a1de","type":"http in","z":"f5e3859e.7c9c38","name":"Proton In","url":"/protonIn","method":"post","swaggerDoc":"","x":129,"y":138,"wires":[["7cb13dd5.a46d04","73d19271.23a94c","8f3771d2.b51ab"]]},{"id":"7cb13dd5.a46d04","type":"debug","z":"f5e3859e.7c9c38","name":"","active":false,"console":"false","complete":"payload","x":678,"y":163,"wires":[]},{"id":"5a85e80b.1eb978","type":"http in","z":"f5e3859e.7c9c38","name":"Rule","url":"/protonInRule","method":"post","swaggerDoc":"","x":124,"y":417,"wires":[["3252721f.97c9ce","fe2aa666.4f8168","e789911a.1fa1"]]},{"id":"73d19271.23a94c","type":"http response","z":"f5e3859e.7c9c38","name":"","x":694,"y":231,"wires":[]},{"id":"3252721f.97c9ce","type":"http response","z":"f5e3859e.7c9c38","name":"","x":577,"y":691,"wires":[]},{"id":"67f2bf86.d19c","type":"comment","z":"f5e3859e.7c9c38","name":"Devuelve todos los eventos que llegan al CEP","info":"","x":290,"y":65,"wires":[]},{"id":"5df025ef.ba03dc","type":"comment","z":"f5e3859e.7c9c38","name":"Devuelve solo los eventos que cumplen la regla","info":"","x":280,"y":269,"wires":[]},{"id":"eff7543a.62b4a8","type":"proton-post-events","z":"10718d03.78e8d3","protonConfig":"affee88c.c1ab38","contype":"text/plain","insname":"/ProtonOnWebServer","x":861,"y":238,"wires":[["94251f8b.0c5e6"]]},{"id":"eba005ce.dac0d8","type":"inject","z":"10718d03.78e8d3","name":"ACTIVA LA REGLA","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138,"y":151,"wires":[["16db1796.45a4b8"]]},{"id":"e70e4177.d033e","type":"inject","z":"10718d03.78e8d3","name":"NO ACTIVA LA REGLA","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153,"y":241,"wires":[["efbfc958.aaa0a8"]]},{"id":"94251f8b.0c5e6","type":"debug","z":"10718d03.78e8d3","name":"","active":false,"console":"false","complete":"payload","x":1252.500015258789,"y":246.75000381469727,"wires":[]},{"id":"16db1796.45a4b8","type":"function","z":"10718d03.78e8d3","name":"Ejemplo a menos de 10 KM","func":"msg.payload={eventbody:\"Name=TrafficReport;distance=8.4445;numberplate=4451XVF;lat=39.454724755108124;lon=-0.3277847170829773;portCallNumber=1201702791;\"};\nreturn msg;","outputs":1,"noerr":0,"x":421,"y":149,"wires":[["eff7543a.62b4a8"]]},{"id":"efbfc958.aaa0a8","type":"function","z":"10718d03.78e8d3","name":"Ejemplo a mas de 10 KM","func":"msg.payload={eventbody:\"Name=TrafficReport;distance=10.4445;numberplate=4451XVF;lat=39.454724755108124;lon=-0.3277847170829773;portCallNumber=1201702791;\"};\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":237,"wires":[["eff7543a.62b4a8"]]},{"id":"91774af5.bf7c78","type":"comment","z":"f5e3859e.7c9c38","name":"FALTA CONECTAR LA SALIDA DEL PCS CON STH, DASHBOARDS, GUI, ETC...","info":"","x":929,"y":284,"wires":[]},{"id":"590e538a.e6008c","type":"comment","z":"10718d03.78e8d3","name":"ESTO SE VA A SUSTITUIR POR EL PROGRAMA QUE ENVIA EVENTOS DE ENEKO","info":"","x":311,"y":68,"wires":[]},{"id":"578af18d.4cc84","type":"comment","z":"10718d03.78e8d3","name":"NODO QUE ENVIA EVENTOS A PROTON","info":"","x":859,"y":180,"wires":[]},{"id":"274a2de2.e6b392","type":"comment","z":"10718d03.78e8d3","name":"STATUS RESPONSE DE LA LLAMADA","info":"","x":1200,"y":175,"wires":[]},{"id":"3d766047.40e1e","type":"comment","z":"34714cb2.21bdd4","name":"AQUI SE PODRA INTERACTUAR CON EL PROTON-CEP","info":"","x":285,"y":139,"wires":[]},{"id":"78b77fc2.8e2d7","type":"proton-put-status","z":"34714cb2.21bdd4","protonConfig":"3ddd3780.0153b8","action":"start","insname":"/ProtonOnWebServer","x":572,"y":234,"wires":[["84b9a09e.ffd74"]]},{"id":"32787490.e6731c","type":"proton-put-status","z":"34714cb2.21bdd4","protonConfig":"3ddd3780.0153b8","action":"stop","insname":"/ProtonOnWebServer","x":585,"y":350,"wires":[["84b9a09e.ffd74"]]},{"id":"84b9a09e.ffd74","type":"proton-get-instancestatus","z":"34714cb2.21bdd4","protonConfig":"ec352ff1.b8bab","insname":"/ProtonOnWebServer","x":982,"y":270,"wires":[["20e9f007.a7835"]]},{"id":"d2d5868a.e6eee8","type":"inject","z":"34714cb2.21bdd4","name":"ARRANCAR INSTANCIA PROTON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":201,"y":226,"wires":[["78b77fc2.8e2d7"]]},{"id":"941049c4.f28d48","type":"inject","z":"34714cb2.21bdd4","name":"PARAR INSTANCIA DE PROTON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":346,"wires":[["32787490.e6731c"]]},{"id":"acbb6896.acde38","type":"comment","z":"34714cb2.21bdd4","name":"ENVIAR REGLAS","info":"","x":122,"y":563,"wires":[]},{"id":"ef866e31.ecb07","type":"comment","z":"34714cb2.21bdd4","name":"EN VEZ DE INJECTS SE USARA EL BUTTON DEL DASHBOARD","info":"","x":302,"y":45,"wires":[]},{"id":"20e9f007.a7835","type":"debug","z":"34714cb2.21bdd4","name":"","active":true,"console":"false","complete":"payload.body","x":1319,"y":271,"wires":[]},{"id":"d861d287.2b6e6","type":"comment","z":"34714cb2.21bdd4","name":"LISTAR REGLAS","info":"","x":152,"y":431,"wires":[]},{"id":"fb82f2f7.94d8e","type":"comment","z":"34714cb2.21bdd4","name":"MOSTRAR DEFINICION DE REGLA","info":"","x":184,"y":632,"wires":[]},{"id":"ebd34ba9.9360a8","type":"comment","z":"34714cb2.21bdd4","name":"CARGAR NUEVA REGLA","info":"","x":154,"y":703,"wires":[]},{"id":"48f06a15.6624c4","type":"comment","z":"34714cb2.21bdd4","name":"ETC...","info":"","x":100,"y":791,"wires":[]},{"id":"6d052eec.7a78f","type":"comment","z":"f5e3859e.7c9c38","name":"FLOW","info":"","x":768,"y":351,"wires":[]},{"id":"203cc7ab.6f4048","type":"proton-get-definitions","z":"34714cb2.21bdd4","protonConfig":"3ddd3780.0153b8","reqtype":"all","defname":"","x":584,"y":491,"wires":[["a4b559b.b8a26a8"]]},{"id":"1c6d0beb.315654","type":"inject","z":"34714cb2.21bdd4","name":"SOLICITA LISTADO REGLAS","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":182,"y":491,"wires":[["203cc7ab.6f4048"]]},{"id":"a4b559b.b8a26a8","type":"debug","z":"34714cb2.21bdd4","name":"","active":true,"console":"false","complete":"payload.body","x":1033,"y":490,"wires":[]},{"id":"7ae7d376.6b576c","type":"comment","z":"f5e3859e.7c9c38","name":"SE USA PARA LISTAR TODOS LOS EVENTOS QUE SE ENVIAN, FALTA CONECTAR CON DASHBOARDS","info":"","x":1028,"y":33,"wires":[]},{"id":"159aab01.316cd5","type":"pcs-portcall","z":"6172c10.ad9a64","portcallID":"1201700832","x":585,"y":252,"wires":[["2c1573b4.fa148c"]]},{"id":"9c163264.fe671","type":"inject","z":"6172c10.ad9a64","name":"getPortCall","topic":"","payload":"{ \"truckPlate\":\"6515GKR\", \"portCallNumber\": \"1201700951\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":296,"y":249,"wires":[["159aab01.316cd5"]]},{"id":"abcaeb35.6fa7c8","type":"inject","z":"6172c10.ad9a64","name":"seachPortCalls","topic":"","payload":"{ \"dateFrom\": \"2017-05-25T01:00:00.000Z\", \"dateTo\": \"2017-05-28T23:00:00.000Z\", \"vesselName\": \"MSC LAUSANNE\", \"portOfValencia\": true, \"portOfGandia\": true, \"portOfSagunto\": true, \"statusPRV\": true, \"statusOPE\": true, \"statusAUT\": true, \"statusFIN\": true }","payloadType":"json","repeat":"","crontab":"","once":false,"x":289,"y":332,"wires":[["e92cfeb6.e5d12"]]},{"id":"2c1573b4.fa148c","type":"debug","z":"6172c10.ad9a64","name":"Log","active":true,"console":"false","complete":"true","x":825,"y":252,"wires":[]},{"id":"3e6a1780.8498f8","type":"debug","z":"6172c10.ad9a64","name":"Log","active":true,"console":"false","complete":"true","x":826,"y":325,"wires":[]},{"id":"e92cfeb6.e5d12","type":"pcs-search","z":"6172c10.ad9a64","vesselName":"vessel","x":578,"y":326,"wires":[["3e6a1780.8498f8"]]},{"id":"8e01e4ce.bc7c58","type":"pcs-portcall","z":"6172c10.ad9a64","portcallID":"","x":596,"y":156,"wires":[["5f41684d.b4fd28"]]},{"id":"ae3ff374.76bf6","type":"inject","z":"6172c10.ad9a64","name":"","topic":"","payload":"{ \"truckPlate\":\"6515GKR\", \"portCallNumber\": \"1201702819\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":312,"y":156,"wires":[["8e01e4ce.bc7c58"]]},{"id":"5f41684d.b4fd28","type":"debug","z":"6172c10.ad9a64","name":"","active":true,"console":"false","complete":"true","x":799,"y":162,"wires":[]},{"id":"fe2aa666.4f8168","type":"pcs-portcall","z":"f5e3859e.7c9c38","portcallID":"1201700832","x":531,"y":448,"wires":[["74523640.b1ac88","bde58742.b6e728"]]},{"id":"74523640.b1ac88","type":"debug","z":"f5e3859e.7c9c38","name":"","active":false,"console":"false","complete":"true","x":1007,"y":369,"wires":[]},{"id":"501b2d2f.884d14","type":"position","z":"95b8091e.1ddf38","positionConfig":"b034b6ed.567e08","x":202,"y":400,"wires":[["4ae83535.39583c","e8ca19ff.435d48","22ebf2.b688d40e"]]},{"id":"eb6f3e6b.b187","type":"position-action","z":"95b8091e.1ddf38","positionConfig":"b034b6ed.567e08","action":"start","x":833,"y":127,"wires":[]},{"id":"7f60ba1d.a70ae4","type":"position-action","z":"95b8091e.1ddf38","positionConfig":"b034b6ed.567e08","action":"stop","x":793,"y":263,"wires":[]},{"id":"300ddd8e.4da972","type":"position-action","z":"95b8091e.1ddf38","positionConfig":"b034b6ed.567e08","action":"pause","x":758,"y":335,"wires":[]},{"id":"899e7dec.4e","type":"inject","z":"95b8091e.1ddf38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":217,"y":104,"wires":[["eb6f3e6b.b187"]]},{"id":"1c2ecfe.f50ec3","type":"inject","z":"95b8091e.1ddf38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":213,"y":180,"wires":[["7f60ba1d.a70ae4"]]},{"id":"67bdbac.d063244","type":"inject","z":"95b8091e.1ddf38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":193,"y":270,"wires":[["300ddd8e.4da972"]]},{"id":"4ae83535.39583c","type":"function","z":"95b8091e.1ddf38","name":"TEST","func":"msg.payload.name =msg.payload.data.numberplate;\nmsg.payload.lat =msg.payload.location.lat;\nmsg.payload.lon =msg.payload.location.lon;\n\nreturn msg;","outputs":1,"noerr":0,"x":428,"y":398,"wires":[["cc4105d7.2a53d8"]]},{"id":"cc4105d7.2a53d8","type":"debug","z":"95b8091e.1ddf38","name":"","active":false,"console":"false","complete":"payload","x":717,"y":396,"wires":[]},{"id":"8f3771d2.b51ab","type":"function","z":"f5e3859e.7c9c38","name":"MUESTRA POSICIONES DE TODOS LOS CAMIONES","func":"var info;\n\ninfo ={lat:msg.payload.lat, lon: msg.payload.lon , distance: msg.payload.distance, PortCall: msg.payload.portCallNumber};\nnametruck=msg.payload.numberplate;\nmsg.payload=info;\nmsg.payload.name=nametruck;\n//msg.payload.name=msg.payload.numberplate;\n\nmsg.payload.icon='truck';\nmsg.payload.iconColor='green';\nreturn msg;","outputs":1,"noerr":0,"x":718,"y":96,"wires":[["599880a3.5d1d7","b0d92e54.eff36"]]},{"id":"599880a3.5d1d7","type":"debug","z":"f5e3859e.7c9c38","name":"","active":true,"console":"false","complete":"payload","x":1189,"y":137,"wires":[]},{"id":"b0d92e54.eff36","type":"worldmap","z":"f5e3859e.7c9c38","name":"","lat":"39.45634219","lon":"-0.432243347","zoom":"10","layer":"","cluster":"","maxage":"","usermenu":"show","panit":"false","x":1191,"y":69,"wires":[]},{"id":"bf8fca84.ff7058","type":"inject","z":"10718d03.78e8d3","name":"NO ACTIVA LA REGLA","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135,"y":445,"wires":[["f4aac070.8a1a"]]},{"id":"f4aac070.8a1a","type":"function","z":"10718d03.78e8d3","name":"Ejemplo a mas de 10 KM (cambiando coord.)","func":"msg.payload={eventbody:\"Name=TrafficReport;distance=10.4445;numberplate=4451XVF;lat=39.454724755108124;lon=-0.4277847170829773;portCallNumber=1201702791;\"};\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":438,"wires":[["eff7543a.62b4a8"]]},{"id":"806a4189.e9cf9","type":"inject","z":"10718d03.78e8d3","name":"ACTIVA LA REGLA CB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178,"y":639.0000095367432,"wires":[["2541336f.32745c"]]},{"id":"2541336f.32745c","type":"function","z":"10718d03.78e8d3","name":"Ejemplo a menos de 10 KM","func":"msg.payload={eventbody:\"Name=TrafficReport;distance=8.4445;numberplate=1789CVJ;lat=39.454724755108124;lon=-0.3277847170829773;portCallNumber=1201702791;\"};\nreturn msg;","outputs":1,"noerr":0,"x":552,"y":633,"wires":[["eff7543a.62b4a8"]]},{"id":"d3cc6c55.ba413","type":"inject","z":"10718d03.78e8d3","name":"NO ACTIVA LA REGLA CB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":189.25,"y":739.7500114440918,"wires":[["1f30606.673c4a"]]},{"id":"1f30606.673c4a","type":"function","z":"10718d03.78e8d3","name":"Ejemplo a mas de 10 KM (cambiando coord.)","func":"msg.payload={eventbody:\"Name=TrafficReport;distance=10.4445;numberplate=1789CVJ;lat=39.454724755108124;lon=-0.4277847170829773;portCallNumber=1201702791;\"};\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":739,"wires":[["eff7543a.62b4a8"]]},{"id":"c9390d2b.54694","type":"comment","z":"10718d03.78e8d3","name":"TEST-PROBAR OTRAS COORDENADAS","info":"","x":368,"y":357,"wires":[]},{"id":"2e7bac50.cbac24","type":"comment","z":"10718d03.78e8d3","name":"TEST-PROBAR OTRA MATRICULA","info":"","x":331,"y":564,"wires":[]},{"id":"e8ca19ff.435d48","type":"function","z":"95b8091e.1ddf38","name":"FUNCIONALIDAD COMPLETA","func":"var lat1=39.4457; //coordenadas puerto valencia\nvar lon1= -0.319878;\nvar lat2= msg.payload.location.lat;\nvar lon2= msg.payload.location.lon;\nvar R = 6371; // km\n\nvar dLat = lat2-lat1;\ndLat=dLat * Math.PI / 180;\nvar dLon = lon2-lon1;\ndLon =dLon* Math.PI / 180;\nvar lat1 = lat1;\nlat1 =lat1* Math.PI / 180;\nvar lat2 = lat2;\nlat2 =lat2 * Math.PI / 180;\n\nvar a = Math.sin(dLat/2) * Math.sin(dLat/2) +\nMath.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); \nvar c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \nvar d = R * c;\nmsg.payload.cep = {distance: \"\"}  ;   \nmsg.payload.cep.distance=d.toString();\nmsg.payload.eventbody=\"Name=TrafficReport;distance=\"+msg.payload.cep.distance+\";numberplate=\"+msg.payload.data.numberplate+\";lat=\"+msg.payload.location.lat+\";lon=\"+msg.payload.location.lon+\";portCallNumber=\"+msg.payload.data.PortCall+\";\";\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":494,"wires":[["8c896e9f.0d71a","459b1a6f.719044","5ac0dcf6.e34344"]]},{"id":"8c896e9f.0d71a","type":"debug","z":"95b8091e.1ddf38","name":"","active":false,"console":"false","complete":"false","x":986,"y":535,"wires":[]},{"id":"459b1a6f.719044","type":"debug","z":"95b8091e.1ddf38","name":"","active":false,"console":"false","complete":"payload.cep.distance","x":1034,"y":462,"wires":[]},{"id":"5ac0dcf6.e34344","type":"proton-post-events","z":"95b8091e.1ddf38","protonConfig":"affee88c.c1ab38","contype":"text/plain","insname":"/ProtonOnWebServer","x":781,"y":616,"wires":[["b39cc6c7.cf78e8"]]},{"id":"b39cc6c7.cf78e8","type":"debug","z":"95b8091e.1ddf38","name":"","active":false,"console":"false","complete":"payload","x":1091.5,"y":611.75,"wires":[]},{"id":"ab2685c5.8e4268","type":"position","z":"46bc7822.90f5e8","positionConfig":"3c2209c1.2bbae6","x":188,"y":530,"wires":[["eeb7ad7d.764ae","dc4afd2c.02e3","882c510c.a8437","f4b080e4.72e1f"]]},{"id":"d4910735.589b68","type":"position-action","z":"46bc7822.90f5e8","positionConfig":"3c2209c1.2bbae6","action":"start","x":745,"y":156,"wires":[]},{"id":"e54b1802.69bb38","type":"position-action","z":"46bc7822.90f5e8","positionConfig":"3c2209c1.2bbae6","action":"stop","x":745,"y":218,"wires":[]},{"id":"c28d16e4.69be38","type":"position-action","z":"46bc7822.90f5e8","positionConfig":"3c2209c1.2bbae6","action":"pause","x":738,"y":280,"wires":[]},{"id":"958d8f94.7bcab","type":"inject","z":"46bc7822.90f5e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":229,"y":107,"wires":[["d4910735.589b68"]]},{"id":"3f5ab65.5405f4a","type":"inject","z":"46bc7822.90f5e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":212,"wires":[["e54b1802.69bb38"]]},{"id":"a637a1ac.b5f9f","type":"inject","z":"46bc7822.90f5e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":218,"y":347,"wires":[["c28d16e4.69be38"]]},{"id":"eeb7ad7d.764ae","type":"function","z":"46bc7822.90f5e8","name":"TEST","func":"msg.payload.name =msg.payload.data.numberplate;\nmsg.payload.lat =msg.payload.location.lat;\nmsg.payload.lon =msg.payload.location.lon;\n\nreturn msg;","outputs":1,"noerr":0,"x":421,"y":411,"wires":[["2ced83cb.34156c"]]},{"id":"2ced83cb.34156c","type":"debug","z":"46bc7822.90f5e8","name":"","active":false,"console":"false","complete":"payload","x":710,"y":409,"wires":[]},{"id":"dc4afd2c.02e3","type":"function","z":"46bc7822.90f5e8","name":"FUNCIONALIDAD COMPLETA","func":"var lat1=39.4457; //coordenadas puerto valencia\nvar lon1= -0.319878;\nvar lat2= msg.payload.location.lat;\nvar lon2= msg.payload.location.lon;\nvar R = 6371; // km\n\nvar dLat = lat2-lat1;\ndLat=dLat * Math.PI / 180;\nvar dLon = lon2-lon1;\ndLon =dLon* Math.PI / 180;\nvar lat1 = lat1;\nlat1 =lat1* Math.PI / 180;\nvar lat2 = lat2;\nlat2 =lat2 * Math.PI / 180;\n\nvar a = Math.sin(dLat/2) * Math.sin(dLat/2) +\nMath.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); \nvar c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \nvar d = R * c;\nmsg.payload.cep = {distance: \"\"}  ;   \nmsg.payload.cep.distance=d.toString();\nmsg.payload.eventbody=\"Name=TrafficReport;distance=\"+msg.payload.cep.distance+\";numberplate=\"+msg.payload.data.numberplate+\";lat=\"+msg.payload.location.lat+\";lon=\"+msg.payload.location.lon+\";portCallNumber=\"+msg.payload.data.PortCall+\";\";\nreturn msg;","outputs":1,"noerr":0,"x":469,"y":493,"wires":[["9eaea790.e90cb8","152e7960.34fc77","5d000fd5.7180c"]]},{"id":"9eaea790.e90cb8","type":"debug","z":"46bc7822.90f5e8","name":"","active":false,"console":"false","complete":"false","x":860,"y":519,"wires":[]},{"id":"152e7960.34fc77","type":"debug","z":"46bc7822.90f5e8","name":"","active":false,"console":"false","complete":"payload.cep.distance","x":678,"y":624,"wires":[]},{"id":"5d000fd5.7180c","type":"proton-post-events","z":"46bc7822.90f5e8","protonConfig":"affee88c.c1ab38","contype":"text/plain","insname":"/ProtonOnWebServer","x":806,"y":749,"wires":[["d67200e2.22c32"]]},{"id":"d67200e2.22c32","type":"debug","z":"46bc7822.90f5e8","name":"","active":false,"console":"false","complete":"payload","x":1197.500015258789,"y":757.7500038146973,"wires":[]},{"id":"df379e4c.a4407","type":"function","z":"f5e3859e.7c9c38","name":"Cambia color","func":"//saca todo\n//const payload = JSON.parse(JSON.stringify(msg));\n//msg = {};\n//msg.payload = payload;\n//msg.payload.name=msg.payload.numberplate;\n//msg.payload.icon='truck';\n//msg.payload.iconColor='red';\n//return msg;\n\n//saca lo importante\nconst info={};\ninfo.name=msg.numberplate;\ninfo.icon='truck';\ninfo.iconColor='red';\ninfo.lat=msg.lat;\ninfo.lon=msg.lon;\ninfo.distance=msg.distance;\ninfo.PortCall=msg.portCall.PortCall;\ninfo.Status=msg.portCall.Status;\n\ninfo.PCSINFO=\"Here you can find the PCS information\";\ninfo.Vessel=msg.portCall.Vessel;\ninfo.Voyage=msg.portCall.Voyage;\ninfo.Status=msg.portCall.Status;\ninfo.ATA=msg.portCall.ATA;\ninfo.ATD=msg.portCall.ATD;\ninfo.NextPortOfCallName=msg.portCall.NextPortOfCallName;\ninfo.RegularLine=msg.portCall.RegularLine;\n\ninfo.PreviusPortcall=\"Here you can find the STH information\";\ninfo.sth0_TIME=msg.sth.contextResponses[0].contextElement.attributes[0].values[0].recvTime;\ninfo.sth0_ID=msg.sth.contextResponses[0].contextElement.attributes[0].values[0].attrValue;\n\ninfo.sth1_TIME=msg.sth.contextResponses[0].contextElement.attributes[0].values[1].recvTime;\ninfo.sth1_ID=msg.sth.contextResponses[0].contextElement.attributes[0].values[1].attrValue;\n\n//msg.payload.lat=temp.lat;\n//msg.payload.lon=temp.lon; \n//msg.payload.distance=temp.distance; \n//msg.payload.portCallNumber=temp.PortCall;\nmsg={};\nmsg.payload=info;\nreturn msg;","outputs":1,"noerr":0,"x":957,"y":228,"wires":[["b0d92e54.eff36"]]},{"id":"7b229674.a3b468","type":"inject","z":"55ff103d.ba1a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125,"y":117,"wires":[["4c191a49.26a8d4"]]},{"id":"4c191a49.26a8d4","type":"function","z":"55ff103d.ba1a2","name":"","func":"msg.payload={\n    mec: \"asd\"\n}\nmsg.entityID=\"4451XVF\";\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":117,"wires":[["29176d45.fa1a92"]]},{"id":"acbe6fc6.155bb","type":"debug","z":"55ff103d.ba1a2","name":"","active":true,"console":"false","complete":"true","x":648.5,"y":114,"wires":[]},{"id":"29176d45.fa1a92","type":"fiware-sth-raw","z":"55ff103d.ba1a2","name":"STH","service":"cc40d096.43af","entype":"Truck","attr":"callid","iden":"entityID","fiwareServer":"interiot","fiwarePath":"/demo","lastN":0,"period":0,"x":438,"y":117,"wires":[["acbe6fc6.155bb"]]},{"id":"de1f2e5a.b4c12","type":"debug","z":"f5e3859e.7c9c38","name":"","active":true,"console":"false","complete":"true","x":1041.5,"y":587,"wires":[]},{"id":"bde58742.b6e728","type":"fiware-sth-raw","z":"f5e3859e.7c9c38","name":"STH","service":"cc40d096.43af","entype":"Truck","attr":"callid","iden":"numberplate","fiwareServer":"interiot","fiwarePath":"/demo","lastN":"3","period":0,"x":785,"y":567,"wires":[["df379e4c.a4407","de1f2e5a.b4c12","7ebbb64a.9de4a8"]]},{"id":"e906b9f5.e7f728","type":"inject","z":"59b16a57.79a524","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153,"y":122,"wires":[["59883c8f.c831a4"]]},{"id":"59883c8f.c831a4","type":"function","z":"59b16a57.79a524","name":"","func":"msg.headers={\n\"Accept\":\"application/json\",\n\"Fiware-Service\":\"interiot\",\n\"Fiware-ServicePath\":\"/demo\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":122,"wires":[["746b5e09.4c9"]]},{"id":"746b5e09.4c9","type":"http request","z":"59b16a57.79a524","name":"","method":"GET","ret":"txt","url":"http://192.168.1.252:1026/v2/entities?type=Truck","tls":"","x":503,"y":123,"wires":[["8367723c.0d983"]]},{"id":"f70debed.46b978","type":"debug","z":"59b16a57.79a524","name":"","active":true,"console":"false","complete":"true","x":957,"y":126,"wires":[]},{"id":"8367723c.0d983","type":"function","z":"59b16a57.79a524","name":"","func":"msg.payload= JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":737,"y":125,"wires":[["f70debed.46b978"]]},{"id":"f9b46ce0.d690b","type":"ui_text","z":"95b8091e.1ddf38","group":"d90ea8a1.208888","order":0,"width":"6","height":"1","name":"","label":"COMPANY A","format":"{{msg.payload}}","layout":"col-center","x":130,"y":47,"wires":[]},{"id":"53a9194b.d4c838","type":"ui_text","z":"46bc7822.90f5e8","group":"d90ea8a1.208888","order":0,"width":"6","height":"1","name":"","label":"COMPANY B","format":"{{msg.payload}}","layout":"col-center","x":120,"y":54,"wires":[]},{"id":"caa50920.e9a938","type":"ui_button","z":"46bc7822.90f5e8","name":"","group":"d90ea8a1.208888","order":0,"width":"2","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":284,"y":154,"wires":[["d4910735.589b68"]]},{"id":"e2dcf606.668e88","type":"ui_button","z":"46bc7822.90f5e8","name":"","group":"d90ea8a1.208888","order":0,"width":"2","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":303,"y":270,"wires":[["e54b1802.69bb38"]]},{"id":"65f1d669.2dcca8","type":"ui_button","z":"46bc7822.90f5e8","name":"","group":"d90ea8a1.208888","order":0,"width":"2","height":"1","passthru":false,"label":"Pause","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":286,"y":403,"wires":[["c28d16e4.69be38"]]},{"id":"7c897856.e959e8","type":"ui_button","z":"95b8091e.1ddf38","name":"","group":"d90ea8a1.208888","order":0,"width":"2","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":387,"y":144,"wires":[["eb6f3e6b.b187"]]},{"id":"f7576a09.787438","type":"ui_button","z":"95b8091e.1ddf38","name":"","group":"d90ea8a1.208888","order":0,"width":"2","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":402,"y":240,"wires":[["7f60ba1d.a70ae4"]]},{"id":"902b51bd.469d6","type":"ui_button","z":"95b8091e.1ddf38","name":"","group":"d90ea8a1.208888","order":0,"width":"2","height":"1","passthru":false,"label":"Pause","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":396,"y":327,"wires":[["300ddd8e.4da972"]]},{"id":"882c510c.a8437","type":"function","z":"46bc7822.90f5e8","name":"ORION Coords","func":"var id = msg.payload.data.numberplate;\nvar coords = \"\\\"\"+msg.payload.location.lat + \", \"+msg.payload.location.lon+\"\\\"\";\nmsg.payload = coords;\nmsg.headers={\"Fiware-Service\":\"interiot\",\"Content-Type\":\"text/plain\",\"Fiware-ServicePath\":\"/demo\"}\nmsg.url = \"http://192.168.1.252:1026/v2/entities/\"+id+\"/attrs/coords/value\";\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":771,"wires":[["d9b50d6b.d510d"]]},{"id":"d9b50d6b.d510d","type":"http request","z":"46bc7822.90f5e8","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":487.61322021484375,"y":771.1561889648438,"wires":[[]]},{"id":"4308750e.9143bc","type":"inject","z":"55ff103d.ba1a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139,"y":246,"wires":[["83112654.5a1258"]]},{"id":"83112654.5a1258","type":"function","z":"55ff103d.ba1a2","name":"","func":"msg.payload={\n    mec: \"asd\"\n}\nmsg.entityID=\"1789CVJ\";\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":246,"wires":[["29176d45.fa1a92"]]},{"id":"aede6b67.3a64e8","type":"ui_toast","z":"f5e3859e.7c9c38","position":"bottom left","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":995,"y":721,"wires":[]},{"id":"e789911a.1fa1","type":"function","z":"f5e3859e.7c9c38","name":"","func":"msg.payload=\"The Truck: \"+msg.payload.numberplate+\" is near the Port Area\"; \nreturn msg;","outputs":1,"noerr":0,"x":620,"y":621,"wires":[["aede6b67.3a64e8"]]},{"id":"9e5f237d.c3557","type":"ui_template","z":"f5e3859e.7c9c38","group":"9be55b3c.514f68","name":"MAP","order":1,"width":"15","height":"8","format":"<iframe id=\"world-map\" seamless width=\"100%\" height=\"100%\"></iframe>\n<script>\n(function(scope) {\n    // debugger;\n    window.ifr = document.getElementById(\"world-map\");\n    window.ifr.src=\"http://192.168.1.176:1880/worldmap/\";\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"x":142,"y":675,"wires":[[]]},{"id":"343c261.264e5da","type":"ui_template","z":"59b16a57.79a524","group":"d90ea8a1.208888","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<a href=\"javascript:void(0)\" ng-click=\"send({payload: 'Hello World'})\">TEST</a>","storeOutMessages":true,"fwdInMessages":true,"x":344,"y":291,"wires":[["f70debed.46b978"]]},{"id":"1e4300ca.3825bf","type":"ui_template","z":"6473aa99.6d4264","group":"d549c036.98b0d","name":"blue","order":4,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":387,"y":188,"wires":[[]]},{"id":"9f109bab.745d88","type":"ui_template","z":"6473aa99.6d4264","group":"d549c036.98b0d","name":"red","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":387,"y":108,"wires":[[]]},{"id":"fa44fb09.afdc08","type":"ui_template","z":"6473aa99.6d4264","group":"d549c036.98b0d","name":"green","order":3,"width":"2","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Hello World'})\"> \n    Green<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":387,"y":148,"wires":[[]]},{"id":"90a1976c.137ab8","type":"ui_template","z":"6473aa99.6d4264","group":"d549c036.98b0d","name":"","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":397,"y":268,"wires":[[]]},{"id":"194760fd.2fd5af","type":"ui_template","z":"6473aa99.6d4264","group":"d549c036.98b0d","name":"","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":397,"y":228,"wires":[[]]},{"id":"8a5ff3fc.cc487","type":"ui_template","z":"6473aa99.6d4264","group":"d549c036.98b0d","name":"on","order":7,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Hello World'})\"> \n    On\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":387,"y":308,"wires":[[]]},{"id":"9a023b48.4a90e8","type":"ui_template","z":"6473aa99.6d4264","group":"d549c036.98b0d","name":"off","order":8,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#8e44ad\" ng-click=\"send({payload: 'Hello World'})\"> \n    Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":387,"y":348,"wires":[[]]},{"id":"f6ddcdb3.e8ede","type":"ui_template","z":"6473aa99.6d4264","group":"d549c036.98b0d","name":"stuff","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":267,"y":108,"wires":[[]]},{"id":"4811109a.94cf5","type":"worldmap in","z":"59b16a57.79a524","name":"sdfasdf","x":643,"y":297,"wires":[["f70debed.46b978"]]},{"id":"7ebbb64a.9de4a8","type":"function","z":"f5e3859e.7c9c38","name":"STH - Beauty","func":"msg.sth = msg.sth.contextResponses[0].contextElement.attributes[0].values;\nreturn msg;","outputs":1,"noerr":0,"x":978,"y":538,"wires":[["a2e5cd92.5046b"]]},{"id":"74e451b.933f6b","type":"debug","z":"f5e3859e.7c9c38","name":"","active":true,"console":"false","complete":"false","x":1306,"y":534,"wires":[]},{"id":"a2e5cd92.5046b","type":"ui_template","z":"f5e3859e.7c9c38","group":"d549c036.98b0d","name":"","order":0,"width":"6","height":"6","format":"<h3>The last {{msg.sth.length}} CallId: </h3>\n<table class=\"table\">\n\n    <thead>\n\n        <tr>\n\n            <th>Date</th>\n\n            <th>CallID</th>\n\n        </tr>\n\n    </thead>\n\n    <tbody>\n\n        <tr ng-repeat=\"item in msg.sth\">\n\n            <td>{{item.recvTime | date:'medium'}}</td>\n\n            <td>{{item.attrValue}}</td>\n\n        </tr>\n\n    </tbody>\n\n</table>","storeOutMessages":true,"fwdInMessages":true,"x":1157,"y":543,"wires":[["74e451b.933f6b"]]},{"id":"f4b080e4.72e1f","type":"function","z":"46bc7822.90f5e8","name":"ORION callid","func":"var id = msg.payload.data.numberplate;\nvar callid = \"\\\"\"+msg.payload.data.PortCall+\"\\\"\";\nmsg.payload = callid;\nmsg.headers={\"Fiware-Service\":\"interiot\",\"Content-Type\":\"text/plain\",\"Fiware-ServicePath\":\"/demo\"}\nmsg.url = \"http://192.168.1.252:1026/v2/entities/\"+id+\"/attrs/callid/value\";\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":834,"wires":[["c97a6532.93e868"]]},{"id":"c97a6532.93e868","type":"http request","z":"46bc7822.90f5e8","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":467.61322021484375,"y":837.1561889648438,"wires":[[]]},{"id":"22ebf2.b688d40e","type":"function","z":"95b8091e.1ddf38","name":"ORION callid","func":"var id = msg.payload.data.numberplate;\nvar callid = \"\\\"\"+msg.payload.data.PortCall+\"\\\"\";\nmsg.payload = callid;\nmsg.headers={\"Fiware-Service\":\"interiot\",\"Content-Type\":\"text/plain\",\"Fiware-ServicePath\":\"/demo\"}\nmsg.url = \"http://192.168.1.252:1026/v2/entities/\"+id+\"/attrs/callid/value\";\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":814,"wires":[["fc1453b8.eb31d"]]},{"id":"fc1453b8.eb31d","type":"http request","z":"95b8091e.1ddf38","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":594.6132202148438,"y":817.1561889648438,"wires":[[]]}]